.notice-icon {
    background-color: #FF6D00;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice-label fx-text {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
}

.balance-box {
    background-color: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
}