/***** Declaring table row color variables with default values *****/
:root {
    --color-light: white;
    --color-dark: white;
    --stay-color: transparent;
    --selection-color: rgba(137, 169, 210, 0.5);
}

/***** Bookings colors *****/
.abandoned          { --color-light: #e3d2d2; --color-dark: #cab8b8; }
.absent             { --color-light: #ff8d8d; --color-dark: #e57373; }
.cancelled          { --color-light: #e3a9d3; --color-dark: #ca90b9; }
.arrived            { --color-light: #21f016; --color-dark: #0bd700; }
.arrivedWithBalance { --color-light: #17b6f0; --color-dark: #019ed7; }
.flagged            { --color-light: #ff941a; --color-dark: #e57a00; }
.changed            { --color-light: #b1b1ff; --color-dark: #9797e5; }
.passReady          { --color-light: #6bcfd2; --color-dark: #54b5b8; }
.confirmed          { --color-light: #b1b1ff; --color-dark: #9797e5; }
.paidInFull         { --color-light: #d5ff1a; --color-dark: #bbe500; }
.overPaid           { --color-light: #ffa366; --color-dark: #e58a4d; }
.noDeposit          { --color-light: #FFFFFF; --color-dark: #FFFFFF; }
.willPay            { --color-light: #e5e5e5; --color-dark: #cacaca; }
.paidUnderMinimal   { --color-light: #d7c26d; --color-dark: #bea956; }
.paidEnough         { --color-light: #fdfd29; --color-dark: #e4e400; }

tr.unread, .grid-row.unread {
    font-weight: bold;
}

tr.specialRate, .grid-row.specialRate {
    font-style: italic;
}

/***** Stay colors *****/
.workingVisitStay   { --stay-color: #E4399E; }
.discoveryStay      { --stay-color: #FF9A40; }
.guestStay          { --stay-color: #200772; }
.standardStay       { --stay-color: #9276EB; }

/***** Booking options colors *****/

.share_mate { --color-light: #fef087; --color-dark: #e6d768 }
.wrongAllocation { --color-base: #FF4400; }

/* JavaFX declaration for backoffice_released and frontoffice_release (not converted to html5 css for now)
.backoffice_released { --color-base: #E0CDCD;}
.frontoffice_released { --color-base: #E0CDCD;}

.backoffice_released {
    -fx-background-color:   -fx-table-cell-border-color,
                            linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
                            linear-gradient(from 0px 5px to 5px 0px, reflect, transparent, transparent 85%, #808080);
}

.frontoffice_released {
    -fx-background-color:   -fx-table-cell-border-color,
                            linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
                            linear-gradient(from 0px 5px to 5px 0px, reflect, transparent, transparent 85%, #808080),
                            linear-gradient(from 0px 0px to 5px 5px, reflect, transparent, transparent 85%, #808080);
}
*/

/* Just applying the same as cancelled for now */
.backoffice_released, .frontoffice_released { --color-light: #e3a9d3; --color-dark: #ca90b9; }

tr.share_owner, .grid-row.share_owner {
    font-style: italic;
}


/***** Payments colors *****/
.pending            { --color-light: #FAE7E7; --color-dark: #C7B4B4; }
.successful         { --color-light: #d4fe19; --color-dark: #bbe600; }
.failed             { --color-light: #FF9A9A; --color-dark: #E66767; }
.batch              { --color-light: #FFF78D; --color-dark: #E6C45A; }

tr.child, .grid-row.child {
    color: blue;
    font-style: italic;
}

/***** Organizations colors *****/
.kmc                { --color-light: #F9C5FF; --color-dark: #C692E3; }
.kbc                { --color-light: #FFFFB0; --color-dark: #E4E57D; }
.branch             { --color-light: #E8FFFF; --color-dark: #B5DEE6; }
.closed             { --color-light: #E0CDCD; --color-dark: #E0CDCD; }

tr.kmc, .grid-row.kmc {
    font-weight: bold;
}

tr.branch, .grid-row.branch {
    font-style: italic;
}

/**** Applying styles to data table and grid ****/

tr, .grid-row {
    background: linear-gradient(  90deg, var(--stay-color) 0%, var(--stay-color) 40%, transparent 50%, transparent 100%),
    linear-gradient( 180deg, var(--color-light), var(--color-dark) 100%);
}

tr.selected, .grid-row.selected {
    background: repeating-linear-gradient(155deg, var(--selection-color), transparent 5px, transparent 10px, var(--selection-color) 15px, var(--selection-color) 20px),
    linear-gradient(  90deg, var(--stay-color) 0%, var(--stay-color) 40%, transparent 50%, transparent 100%),
    linear-gradient( 180deg, var(--color-light), var(--color-dark) 100%);
}