.livestream {
    /* Overriding some WebFX Extras CSS variables  */
    --webfx-switch-selected-background-color: var(--brand-blue-color);
}

.livestream .h3 {
     font-family: "Poppins", sans-serif;
     font-size: 24px;
     font-weight: bold;
 }

.livestream .h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600; /* semi-bold */
}

.livestream .grid-head {
    font-weight: 600;
}

.livestream .small {
    font-weight: 300;
}

.livestream .text-info {
     font-weight: normal;
     color: black;
}


/* Styling the DaySwitch (each day is a ToggleButton) */

.livestream fx-togglebutton {
    --fx-button-border: 1px solid black;
    --fx-button-background: white;
    --fx-button-background-selected: var(--bootstrap-grey1);
}

.livestream fx-togglebutton:hover {
    --fx-button-background: var(--bootstrap-grey1);
}

.livestream fx-togglebutton.fired, .livestream fx-togglebutton.fired:hover {
    --fx-button-background: var(--brand-blue-color);
    --fx-button-background-selected: var(--fx-button-background);
    --fx-text-fill: white;
}


/** styles for the video desktop table and mobile view **/

.livestream .grid-head /* desktop only */ {
    font-weight: 500; /* semi-bold */
    font-size: 18px;
    color: var(--brand-blue-color);
}

.livestream .grid-group {
    background-color: #f4f4f4;
    font-weight: bold;
    border-top: 1px solid var(--webfx-visualgrid-row-border-color);
    border-bottom: 1px solid var(--webfx-visualgrid-row-border-color);
    color: var(--bootstrap-grey5);
}

.livestream .grid-body .date /* desktop Date col */, .livestream .grid-row .date /* mobile Date row */ {
    font-weight: bold;
}

.livestream .grid-body .time /* desktop Time col */, .livestream .grid-row .time /* mobile Time row */ {
    font-weight: 500; /* semi-bold */
    color: var(--bootstrap-grey5);
}

.livestream .grid-body .name /* desktop Name col */, .livestream .grid-row .name /* mobile Name row */ {
    font-weight: bold;
}

.livestream .grid-body .session-cancelled /* desktop cancelled session */, .livestream .grid-row .session-cancelled /* mobile cancelled session */ {
    font-weight: 400;
    font-style: italic;
    color: var(--bootstrap-grey5);
}

.livestream .grid-body .status /* desktop Status col */, .livestream .grid-row .status /* mobile Status row */, .livestream .btn /* desktop and mobile buttons */ {
    font-weight: bold;
}

.livestream .program-box {
    background-color: #f4f4f4;
    border-radius: 30px;
}
