.livestream .h2 {
    -fx-line-spacing: 0px;
}

.livestream .h3 {
    -fx-font-family: "Poppins";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.livestream .h4 {
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-font-weight: 600; /* semi-bold */
}

.livestream .grid-head {
    -fx-font-weight: 600; /* medium */
}

.livestream .small {
    -fx-font-weight: 300; /* light */
}

.livestream .text-info {
    -fx-text-fill: black;
    -fx-font-weight: normal;
}

/** styles for the video desktop table and mobile view **/

.livestream .grid-head Text /* desktop only */ {
    -fx-font-weight: 500;
    -fx-font-size: 18px;
    -fx-fill: -brand-blue-color;
}

.livestream .grid-group {
    -fx-background-color: #f4f4f4;
    -fx-font-weight: bold;
    -fx-border-color: -webfx-visualgrid-row-border-color;
    -fx-border-width: 0 0 1px 0;
}

.livestream .grid-group Text {
    -fx-fill: -bootstrap-grey5;
}

.livestream .grid-body .date /* desktop Date col */, .livestream .grid-row .date /* mobile Date row */ {
    -fx-font-weight: bold;
}

.livestream .grid-body .time Text /* desktop Time col */, .livestream .grid-row Text.time /* mobile Time row */ {
    -fx-font-weight: 500; /* semi-bold */
    -fx-fill: -bootstrap-grey5;
}

.livestream .grid-body .name /* desktop Name col */, .livestream .grid-row .name /* mobile Name row */ {
    -fx-font-weight: bold;
}

.livestream .grid-body .session-cancelled /* desktop cancelled session */, .livestream .grid-row .session-cancelled /* mobile cancelled session */ {
    -fx-font-weight: 200;
    -fx-font-style: italic;
    -fx-text-fill: -bootstrap-grey5;
}

.livestream .grid-body .status /* desktop Status col */, .livestream .grid-row .status /* mobile Status row */, .livestream .btn /* desktop and mobile buttons */ {
    -fx-font-weight: bold;
}

.livestream .status .btn.danger:selected {
    -fx-text-fill: black;
}

.livestream .status .btn.danger:selected SVGPath {
    -fx-fill: black;
}

.livestream .program-box {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 30;
}

.livestream .video-comment {
    -fx-text-fill: -bootstrap-blue5;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-spacing: 10px;
}

.livestream {
    /* Dark Amber Alert Scheme */
    -notification-bg-primary: #BF360C;
    -notification-bg-secondary: #D84315;
    -notification-text-color: #FFFDE7;
    -notification-border-color: #FF6D00;
    -notification-icon-bg: rgba(255, 214, 0, 0.2);
    -notification-close-color: #FFE0B2;
    -notification-close-hover-bg: rgba(255, 214, 0, 0.2);
    -notification-close-hover-color: #FFD600;

    /* This is to uniformize the fullscreen button color with the notification bar color */
    -modality-media-button-circle-background: -notification-bg-secondary;
}

.notification-bar {
    -fx-spacing: 12px;
    -fx-alignment: CENTER_LEFT;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 4, 0, 0, 2);
}

/* Background styling for notifications */
.notification-bar {
    -fx-background-color: linear-gradient(to bottom, -notification-bg-primary, -notification-bg-secondary);
    -fx-background-radius: 8px;
}

/* Border styling for notifications */
.notification-bar {
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: -notification-border-color;
    -fx-border-radius: 8px;
}

/* Text container setup for scrolling */
/* Text with scrolling animation */
.notification-text-box Text {
    -fx-font-size: 32px;
    -fx-font-weight: 500;
    -fx-fill: -notification-text-color;
    -fx-ellipsis-string: null;
}

/* Style the notification icon */
.notification-bar Text.notification-icon {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

/* Style the close button */
.notification-bar Button.notification-close {
    -fx-cursor: hand;
}

.notification-bar Button.notification-close {
    -fx-background-color: transparent;
    -fx-border-radius: 50%;
    transition: -fx-background-color 0.5s ease;
}

.notification-bar Button.notification-close {
    -fx-text-fill: -notification-close-color;
    -fx-font-size: 18px ;
    -fx-font-weight: bold ;
}

/* Close button hover states */
.notification-bar Button.notification-close:hover {
    -fx-background-color: -notification-close-hover-bg;
}

.notification-bar Button.notification-close:hover {
    -fx-text-fill: -notification-close-hover-color;
}

.notice-icon {
    -fx-background-color: -notification-border-color;
    -fx-background-radius: 45;
}

.notice-label {
     -fx-font-size: 40px;
     -fx-text-fill: #FFFFFF;
     -fx-font-weight: bold;
}

.balance-box {
    -fx-background-color: #f9fafb;
    -fx-border-color: #e5e7eb;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}