.livestream .h2 {
    -fx-line-spacing: 0px;
}

.livestream .h3 {
    -fx-font-family: "Poppins";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.livestream .h4 {
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-font-weight: 600; /* semi-bold */
}

.livestream .grid-head {
    -fx-font-weight: 600; /* medium */
}

.livestream .small {
    -fx-font-weight: 300; /* light */
}

.livestream .text-info {
    -fx-text-fill: black;
    -fx-font-weight: normal;
}

/* Styling the DaySwitch (each day is a ToggleButton) */

.livestream ToggleButton {
    -fx-background-color: white;
    -fx-border-color: black;
}

.livestream ToggleButton:hover,
.livestream ToggleButton:selected {
    -fx-background-color: -bootstrap-grey1;
}

.livestream ToggleButton.fired {
    -fx-background-color: -brand-blue-color;
    -fx-text-fill: white;
}

/** styles for the video desktop table and mobile view **/

.livestream .grid-head Text /* desktop only */ {
    -fx-font-weight: 500;
    -fx-font-size: 18px;
    -fx-fill: -brand-blue-color;
}

.livestream .grid-group {
    -fx-background-color: #f4f4f4;
    -fx-font-weight: bold;
    -fx-border-color: -webfx-visualgrid-row-border-color;
    -fx-border-width: 0 0 1px 0;
}

.livestream .grid-group Text {
    -fx-fill: -bootstrap-grey5;
}

.livestream .grid-body .date /* desktop Date col */, .livestream .grid-row .date /* mobile Date row */ {
    -fx-font-weight: bold;
}

.livestream .grid-body .time Text /* desktop Time col */, .livestream .grid-row Text.time /* mobile Time row */ {
    -fx-font-weight: 500; /* semi-bold */
    -fx-fill: -bootstrap-grey5;
}

.livestream .grid-body .name /* desktop Name col */, .livestream .grid-row .name /* mobile Name row */ {
    -fx-font-weight: bold;
}

.livestream .grid-body .session-cancelled /* desktop cancelled session */, .livestream .grid-row .session-cancelled /* mobile cancelled session */ {
    -fx-font-weight: 200;
    -fx-font-style: italic;
    -fx-text-fill: -bootstrap-grey5;
}

.livestream .grid-body .status /* desktop Status col */, .livestream .grid-row .status /* mobile Status row */, .livestream .btn /* desktop and mobile buttons */ {
    -fx-font-weight: bold;
}

.livestream .program-box {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 30;
}
