.book-event-activity .navigation-bar {
    font-weight: bold;
    --fx-background-color: #E7E7E7;
    --fx-background-radius: 8px;
    --fx-border-style: solid;
    --fx-border-color: #E7E7E7;
    --fx-border-width: 1px;
    --fx-border-radius: 8px;
    --fx-button-background-color: transparent;
    --fx-button-border-color: transparent;
    --fx-togglebutton-border-color-hover: transparent;
}

.book-event-activity .navigation-bar .title {
    --fx-background-color: white;
    --fx-background-radius: 8px;
    --fx-border-style: solid;
    --fx-border-color: #E7E7E7;
    --fx-border-width: 1px;
    --fx-border-radius: 8px;
}

.book-event-activity .price-bar {
    font-weight: bold;
    --fx-background-color: #F4F4F4;
}

.book-event-activity .price-bar fx-label.price {
    --fx-text-fill: #838788;
}
