.booking-form {
    -fx-font-family: "Poppins";
}

.booking-form .navigation-bar {
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to right, #E7E7E7, #E7E7E7 75%, #0096D6 78%, #0096D6);
    -fx-background-radius: 8px;
    -fx-border-color: linear-gradient(to right, #E7E7E7, #E7E7E7 75%, #0096D6 78%, #0096D6);
    -fx-border-radius: 8px;
}

.booking-form .navigation-bar .title {
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.booking-form .navigation-bar ToggleButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.booking-form .navigation-bar ToggleButton:disabled {
    -fx-text-fill: transparent;
}

.booking-form .next-button {
    -fx-text-fill: white;
}

.booking-form .back-button {
    -fx-text-fill: -bootstrap-grey5;
}

.booking-form .price-bar {
    -fx-background-color: #F4F4F4;
    -fx-font-weight: bold;
}

.booking-form RadioButton, .booking-form CheckBox {
    -fx-font-weight: bold;
}

.booking-form .period-label {
    -fx-text-fill: #838788;
}

.booking-form .price-label {
    -fx-font-weight: bold;
    -fx-text-fill: #838788;
}

.booking-form LabeledText {
    -fx-font-size: 14px;
    -fx-line-spacing: 5px;
}

.booking-form .text-area {
    -fx-border-color: black;
    -fx-border-radius: 19px;
    -fx-background-radius: 19px;
}