* {
    -fx-event-description-text-color: #444;
}

.event-title, .event-title Text, .event-title SVGPath {
    -fx-text-fill: white;
    -fx-fill: white;
}

.event-description-text, .event-description-text Text {
    -fx-text-fill: -fx-event-description-text-color;
    -fx-fill: -fx-event-description-text-color;
    -fx-text-alignment: justify;
}

.event-description-text TextFlow {
    -fx-line-spacing: 12px;
}


.subtitle-grey {
   -fx-text-fill: grey;
   -fx-fill: grey;
   -fx-font-size: 14px;
}

/* Date cells for recurring events */

.event-date-cell {
    -fx-border-color: #cccccc;
}

.event-date-cell.date-unselected {
    -fx-background-color: none;
}

.event-date-cell.date-non-selectable {
    -fx-border-color: #cccccc;
    -fx-background-color: #dddddd;
}

.event-date-cell.date-non-selectable Text {
    -fx-fill: #aaaaaa;
}

.event-date-cell.date-unselected Text {
    -fx-fill: #444;
}

.event-date-cell.date-selected,
.event-date-cell.date-already-booked {
    -fx-border-color: none;
    -fx-background-color: #F5761A;
}

.event-date-cell.date-selected Text {
    -fx-fill: white;
}

.event-date-cell.date-already-booked Text {
    -fx-fill: #eeeeee;
}

.event-date-cell .eventTime {
    -fx-font-size: 10px;
}

.line-total {
    -fx-background-color: #CCCCCC;
}

.line-total Text {
    -fx-font-weight: bolder;
}