/* .text-justified */
.description-text {
    text-align: justify;
    line-height: 1.5em;
}

/* .eventTime */
.eventTime {
    font-size: 10px;
}

/* .subtitle-grey */
.subtitle-grey {
    color: grey;
    font-size: 14px;
}

.book-event-primary-title {
    font-weight: bolder;
    color: #0096D6;
    font-size: 14px;
}

/* .date-selected */
.date-selected  {
    color: white;
}

.date-selected > fx-background, .date-already-booked > fx-background {
    background-color: #0096D6;
}

.date-non-selectable > fx-background {
    background-color: #AAAAAA;
}

.date-past-not-selected > fx-background {
     background-color: grey;
}

/* .date-unselected */
.date-unselected {
    color: black;
    background-color: inherit;
}

.checkout-address {
    color: #BBBBBB;
}

.checkout-address svg {
    fill: #BBBBBB;
}

.line-total > fx-background {
    background-color: #CCCCCC;
}

.line-total span {
    font-weight: bolder;
}