@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url('webfx-css:fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('webfx-css:fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('webfx-css:fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    src: url('webfx-css:fonts/montserrat/Montserrat-BoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    src: url('webfx-css:fonts/poppins/Poppins-Bold.otf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    src: url('webfx-css:fonts/poppins/Poppins-Italic.otf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    font-style: italic;
    src: url('webfx-css:fonts/poppins/Poppins-BoldItalic.otf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('webfx-css:fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url('webfx-css:fonts/roboto/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: light;
    src: url('webfx-css:fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    src: url('webfx-css:fonts/roboto/Roboto-BoldItalic.ttf');
}


Text, Label, Button, TextField {
    -fx-font-family: 'Montserrat';
}

.scroll-pane {
   -fx-background-color: transparent;
   -fx-padding: 0;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
