@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-VF.woff2") format("woff2");
    font-weight: 100 900;
}

/* Light */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300; /* Light weight */
  font-display: swap;
  src: url("./fonts/poppins/Poppins-Light.ttf") format('truetype');
}

/* Regular */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400; /* Regular weight */
  font-display: swap;
  src: url("./fonts/poppins/Poppins-Regular.ttf") format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700; /* Bold weight */
  font-display: swap;
  src: url("./fonts/poppins/Poppins-Bold.ttf") format('truetype');
}

/* Light Italic */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300; /* Light Italic */
  font-display: swap;
  src: url("./fonts/poppins/Poppins-LightItalic.ttf") format('truetype');
}

/* Italic */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400; /* Regular Italic */
  font-display: swap;
  src: url("./fonts/poppins/Poppins-Italic.ttf") format('truetype');
}

/* Bold Italic */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700; /* Bold Italic */
  font-display: swap;
  src: url("./fonts/poppins/Poppins-BoldItalic.ttf") format('truetype');
}



/* Applying Montserrat as default font for Modality */
body, textarea /* because textarea has explicit default monospace font */ {
    font-family: Montserrat, serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-family: Poppins;
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
}

