.livestream h3 {
     font-family: "Poppins", sans-serif;
     font-size: 24px;
     font-weight: bold;
     text-align: left; /* Aligns text */
 }

.livestream h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600; /* semi-bold */
    text-align: left; /* Aligns text */
}

.livestream .grid-head {
    font-weight: 600;
}

.livestream .small {
    font-weight: 300;
}

.livestream .text-info {
     font-weight: normal;
     color: black;
}


/** styles when we're in a desktop view **/
.livestream .grid-body .date {
    font-weight: bold;
}

.livestream .grid-body .title {
    font-weight: bold;
}

.livestream .grid-body .status, .livestream .btn {
    font-weight: bold;
}

/** styles when we're in a mobile view **/
.livestream .grid-row .date {
    font-weight: bold;
}

.livestream .grid-row .title {
    font-weight: bold;
}

.livestream .grid-row .status {
    font-weight: bold;
}
