.livestream h3 {
     font-family: "Poppins", sans-serif;
     font-size: 24px;
     font-weight: bold;
     text-align: left; /* Aligns text */
 }

 .livestream h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600; /* semi-bold */
    text-align: left; /* Aligns text */
 }

 .livestream .grid-head {
    font-weight: 600;
 }

.livestream .small {
    font-weight: 300;
}

 .livestream .text-info {
     font-weight: normal;
     color: black;
 }

