.livestream .h2 {
    -fx-line-spacing: 0px;
}

.livestream .h3 {
    -fx-font-family: "Poppins";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: left; /* Aligns text */
}

.livestream .h4 {
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-font-weight: 600; /* semi-bold */
    -fx-text-alignment: left; /* Aligns text */
}

.livestream .grid-head {
    -fx-font-weight: 600; /* medium */
}

.livestream .small {
    -fx-font-weight: 300; /* light */
}

.livestream .text-info {
    -fx-text-fill: black;
    -fx-font-weight: normal;
}

/** styles when we're in a desktop view **/

.livestream .grid-head Text {
    -fx-font-weight: 500;
    -fx-font-size: 18px;
    -fx-fill: -brand-blue-color;
}

.livestream .grid-body .date {
    -fx-font-weight: 600; /* semi-bold */
}

.livestream .grid-body .time {
    -fx-font-weight: 500;
}

.livestream .grid-body .title {
    -fx-font-weight: 500;
}

.livestream .grid-body .status {
    -fx-font-weight: 600;
}

/** styles when we're in a mobile view **/
.livestream .grid-row .date {
    -fx-font-weight: 600
}

.livestream .grid-row .title {
}

