.translation-button {
    -fx-background-color: transparent;
    -fx-border-color: #ccc;
    -fx-border-radius: 3;
    -fx-padding: 2 6 2 6;
}

.translation-pane {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 5;
}

.strikethrough LabeledText {
    -fx-strikethrough: true;
}