/* We don't want the default white background for WebFX Extras material text fields in the login window */
.user-account * {
    -webfx-material-background-color: transparent;
    -webfx-material-idle-text-fill: black;
}

.user-account Text.material-label {
     -fx-font-weight: 900;
     -fx-font-size: 14px;
}
