/* @font-face rules listed first, otherwise they are ignored (OpenJFX bug) */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url('css:fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('css:fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('css:fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    src: url('css:fonts/montserrat/Montserrat-BoldItalic.ttf');
}


/*===== webtext-javafx@main.css from webfx-extras-webtext-peers-openjfx =====*/

HtmlText, HtmlTextEditor {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

/*===== visual-grid-javafx@main.css from webfx-extras-visual-grid-peers-openjfx =====*/

VisualGrid {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

.table-view {
    -fx-table-cell-border-color: #bbbbbb; /* same color as java 7 caspian, java 8 one is too light on colored rows */
    -fx-cursor: hand;
}

.table-view.noHeader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view.fullHeight *.scroll-bar:vertical {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}

.table-row-cell:empty {
    -fx-opacity: 0.0;
}

.table-row-cell .table-cell {
    -fx-padding: 1.4mm 1.4mm 0.6mm 1.4mm;
}

.table-row-cell .text, .column-header .text, .grid .text, .grid Text { /* texts displayed in tables */
   -fx-font-family: "Roboto"; /* embedded font to be sure it can correctly render bold and italic on all systems */
   -fx-font-size: 13.5px;
   -fx-font-smoothing-type: gray;
   -fx-fill: rgba(0, 0, 0, 0.7);
}

.grid .scroll-pane {
    -fx-padding: 0;
}

.grid-head, .grid-row {
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 0 1px 0;
}

.grid-col {
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 1px 0 0;
}

.table-row-cell:selected .table-cell {
   -fx-text-fill: -fx-text-inner-color;
}

/*===== visual-charts-javafx@main.css from webfx-extras-visual-charts-peers-openjfx =====*/

VisualLineChart, VisualPieChart, VisualBarChart, VisualAreaChart {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

.chart-series-line {
    -fx-stroke-width: 1.5px;
}

/*===== bookings-javafx@main.css from modality-ecommerce-backoffice-activity-bookings-plugin =====*/

/* Declaring color variables with default values */
* {
   -color-base: white;
   -stay-color: transparent;
   -selection-color: #8AAAD380;
}

/* Bookings */
.abandoned { -color-base: #E0CDCD; }
.absent { -color-base: #FF8080; }
.cancelled { -color-base: #E0A0CD; }
.arrived { -color-base: #09EF00; }
.arrivedWithBalance { -color-base: #01afef; }
.flagged { -color-base: #FF8800; }
.changed { -color-base: #A8A8FF; }
.passReady { -color-base: #5DC8CD; }
.confirmed { -color-base: #A8A8FF; }
.paidInFull { -color-base: #CCFF00; }
.overPaid { -color-base: #FF9955; }
.noDeposit { -color-base: #FFFFFF; }
.willPay { -color-base: #E0E0E0; }
.paidUnderMinimal { -color-base: #D3BC5F; }
.paidEnough { -color-base: #FAFD00; }

/* Booking options */
.share_mate { -color-base: #FFF073; }
.wrongAllocation { -color-base: #FF4400; }

.backoffice_released {-color-base: #E0CDCD;}
.frontoffice_released {-color-base: #E0CDCD;}

.backoffice_released {
    -fx-background-color:   -fx-table-cell-border-color,
                            linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
                            linear-gradient(from 0px 5px to 5px 0px, reflect, transparent, transparent 85%, #808080);
}

.frontoffice_released {
    -fx-background-color:   -fx-table-cell-border-color,
                            linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
                            linear-gradient(from 0px 5px to 5px 0px, reflect, transparent, transparent 85%, #808080),
                            linear-gradient(from 0px 0px to 5px 5px, reflect, transparent, transparent 85%, #808080);
}

.share_owner {
    -fx-font-style: italic;
}

.no_share { }

/* Stays */
.nonStay { -stay-color: transparent; }
.workingVisitStay { -stay-color: #E4399E; }
.discoveryStay { -stay-color: #FF9A40; }
.guestStay { -stay-color: #200772; }
.standardStay { -stay-color: #9276EB; }

/* Payments */
.pending { -color-base: #E0CDCD; }
.successful { -color-base: #CCFF00; }
.failed { -color-base: #FF8080; }
.batch { -color-base: #FFDD73; }

/* Organizations */
.kmc { -color-base: #dfabfc; }
.kbc { -color-base: #fdfe96; }
.branch { -color-base: #cef7ff; }
.closed { -color-base: #E0CDCD; }

/* .table-row-cell { */
.abandoned, .absent, .cancelled, .arrived, .arrivedWithBalance, .flagged, .changed, .passReady, .confirmed, .paidInFull, .overPaid, .noDeposit, .willPay, .paidUnderMinimal, .paidEnough, .share_mate, .wrongAllocation, .nonStay, .workingVisitStay, .discoveryStay, .guestStay, .standardStay, .pending, .successful, .failed, .batch, .kmc, .kbc, .branch, .closed {
    -fx-background-color:
        /*-fx-table-cell-border-color,*/
        linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
        linear-gradient(from 0% 0% to 100% 0%, -stay-color 0%, -stay-color 40%, transparent 50%, transparent 100%);
    -fx-font-weight: normal;
}

.table-row-cell:selected, .grid-row.selected {
    -fx-background-color:
        -fx-focus-color,
        -fx-cell-focus-inner-border,
        linear-gradient(to bottom, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
        linear-gradient(to right, -stay-color 0%, -stay-color 40%, transparent 50%, transparent 100%),
        linear-gradient(from 0px 0px to 5px 10px, reflect, -selection-color 30%, transparent 70%);
}

.unread, .kmc {
    -fx-font-weight: bold;
}

.specialRate, .branch {
    -fx-font-style: italic;
}

.child .table-cell, .child .text {
    -fx-text-fill: blue;
    -fx-fill: blue;
    -fx-font-style: italic;
}

/*===== modality-login-javafx@main.css from modality-crm-client-activity-login-plugin =====*/



.login {
    -fx-font-size: 18px;
}

.login Button {
    -fx-background-color: #0096D6FF;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

/*===== modality-javafx@main.css from modality-base-client-application =====*/

Text, Label, Button, TextField {
    -fx-font-family: 'Montserrat';
}

.scroll-pane {
   -fx-background-color: transparent;
   -fx-padding: 0;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

/*===== material-javafx@main.css from webfx-extras-materialdesign =====*/


.material {
     -fx-background-color: white , white , white;
     -fx-background-insets: 0, 0, 0;
}
