/* @font-face rules listed first, otherwise they are ignored (OpenJFX bug) */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url('webfx-css:fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('webfx-css:fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('webfx-css:fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    src: url('webfx-css:fonts/montserrat/Montserrat-BoldItalic.ttf');
}


/*===== webfx-extras-material-javafx@main.css from webfx-extras-materialdesign =====*/


.material {
     -fx-background-color: white , white , white;
     -fx-background-insets: 0, 0, 0;
}

/*===== webfx-extras-switches-javafx@main.css from webfx-extras-switches =====*/

* {
    -webfx-switch-unselected-background-color: lightgray;
    -webfx-switch-selected-background-color: #23EA00;
    -webfx-switch-knob-background-color: white;
}

Switch.webfx-switch {
    -fx-background-color: -webfx-switch-unselected-background-color;
    -fx-background-radius: 10px;
}

Switch.webfx-switch.selected {
    -fx-background-color: -webfx-switch-selected-background-color;
}

Switch.webfx-switch Circle.knob {
    -fx-fill: -webfx-switch-knob-background-color;
}
/*===== webfx-extras-visual-charts-javafx@main.css from webfx-extras-visual-charts-peers-openjfx =====*/

VisualLineChart, VisualPieChart, VisualBarChart, VisualAreaChart {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

.chart-series-line {
    -fx-stroke-width: 1.5px;
}

/*===== webfx-extras-visual-grid-javafx@main.css from webfx-extras-visual-grid-peers-openjfx =====*/

VisualGrid {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

.table-view {
    -fx-table-cell-border-color: #bbbbbb; /* same color as java 7 caspian, java 8 one is too light on colored rows */
    -fx-cursor: hand;
}

.table-view.noHeader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view.fullHeight *.scroll-bar:vertical {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}

.table-row-cell:empty {
    -fx-opacity: 0.0;
}

.table-row-cell .table-cell {
    -fx-padding: 1.4mm 1.4mm 0.6mm 1.4mm;
}

.table-row-cell .text, .column-header .text, .grid .text, .grid Text { /* texts displayed in tables */
   -fx-font-family: "Roboto"; /* embedded font to be sure it can correctly render bold and italic on all systems */
   -fx-font-size: 13.5px;
   -fx-font-smoothing-type: gray;
   -fx-fill: rgba(0, 0, 0, 0.7);
}

.grid .scroll-pane {
    -fx-padding: 0;
}

.grid-head, .grid-row {
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 0 1px 0;
}

.grid-col {
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 1px 0 0;
}

.table-row-cell:selected .table-cell {
   -fx-text-fill: -fx-text-inner-color;
}

/*===== webfx-extras-webtext-javafx@main.css from webfx-extras-webtext-peers-openjfx =====*/

HtmlText, HtmlTextEditor {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

/*===== modality-client-javafx@main.css from modality-base-client-application =====*/

Text, Label, Button, TextField {
    -fx-font-family: 'Montserrat';
}

.scroll-pane {
   -fx-background-color: transparent;
   -fx-padding: 0;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

/*===== javafx@main.css from modality-base-client-css =====*/

* {
    -webfx-switch-selected-background-color: #0096D6;
    -green-color: #41BA4D;
    -green-color-hover: #38a143;
    -blue-color: #0096D6;
    -blue-color-hover: #0082ba;
    -grey-color: #838788;
    -grey-color-hover: #717475;
    -red-color: red;
    -red-color-hover: #de0000;
    -orange-color: #EE7130;
}

.event-button Button
{
    -fx-background-radius: 4;
    -fx-pref-height:36px;
    -fx-max-height:36px;
    -fx-alignment: center;
 /*  -fx-font-family: "Google Sans", Roboto, Arial;*/
    -fx-font-weight: bolder;
}

.primary-button Button {
    -fx-background-color: -blue-color;
    -fx-text-fill: white;
}

.primary-button:hover {
    -fx-background-color: -blue-color-hover;
}

.danger-button {
    -fx-background-color: -red-color;
    -fx-text-fill: white;
}

.danger-button:hover {
    -fx-background-color: -red-color-hover;
}

.success-button {
    -fx-background-color: -green-color;
    -fx-text-fill: white;
}

.success-button:hover {
  -fx-background-color: -green-color-hover;
}

.secondary-button {
    -fx-background-color: -grey-color;
    -fx-text-fill: white;
}

.secondary-button:hover {
    -fx-background-color: -grey-color-hover;
}

.primary-text, .primary-text SVGPath{
    -fx-text-fill: -blue-color;
    -fx-fill: -blue-color;
}

.secondary-text, .secondary-text SVGPath {
    -fx-text-fill: -grey-color;
    -fx-fill: -grey-color;
}

.warning-text, .warning-text SVGPath {
    -fx-text-fill: -orange-color;
    -fx-fill: -orange-color;
}

.danger-text, .danger-text SVGPath {
    -fx-text-fill: -red-color;
    -fx-fill: -red-color;
}

.success-text, .success-text SVGPath {
    -fx-text-fill: -green-color;
    -fx-fill: -green-color;
}

.emphasize {
    -fx-font-weight: bolder;
}

.title {
  -fx-font-size: 35px;
}

.subtitle {
  -fx-font-size: 22px;
}

.title3 {
  -fx-font-size: 16px;
}

.title4 {
  -fx-font-size: 14px;
}

.confirmation-title {
   -fx-font-size: 22px;
   -fx-text-fill: -green-color;
   -fx-fill: -green-color;
   -fx-font-weight: bolder;
}


.small-text {
  -fx-font-size: 9px;
}

.table-row-cell:selected {
  -fx-background: #BBBBBB;
}

.webfx-dates-picker-selected {
    -fx-background-color: #afe7ff;
    -fx-background-radius: 10px;
}

.webfx-dates-picker-secondary {
    -fx-background-color: #cccccc;
    -fx-background-radius: 10px;
}

.webfx-dates-picker-arrow {
    -fx-fill: -blue-color;
    -fx-background-radius: 10px;
}

.webfx-dates-picker-month {
    -fx-text-fill: -blue-color;
    -fx-font-size: 14px;
}

/*===== modality-client-login-javafx@main.css from modality-crm-client-activity-login-plugin =====*/



.login {
    -fx-font-size: 18px;
}

.login Button {
    -fx-background-color: #0096D6FF;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

/*===== modality-backoffice-bookingdetailspanel-javafx@main.css from modality-crm-backoffice-bookingdetailspanel =====*/

.titled-pane .title {
    -fx-font-size: 14px;
}

/*===== modality-backoffice-bookings-javafx@main.css from modality-ecommerce-backoffice-activity-bookings-plugin =====*/

/* Declaring color variables with default values */
* {
   -color-base: white;
   -stay-color: transparent;
   -selection-color: #8AAAD380;
}

/* Bookings */
.abandoned { -color-base: #E0CDCD; }
.absent { -color-base: #FF8080; }
.cancelled { -color-base: #E0A0CD; }
.arrived { -color-base: #09EF00; }
.arrivedWithBalance { -color-base: #01afef; }
.flagged { -color-base: #FF8800; }
.changed { -color-base: #A8A8FF; }
.passReady { -color-base: #5DC8CD; }
.confirmed { -color-base: #A8A8FF; }
.paidInFull { -color-base: #CCFF00; }
.overPaid { -color-base: #FF9955; }
.noDeposit { -color-base: #FFFFFF; }
.willPay { -color-base: #E0E0E0; }
.paidUnderMinimal { -color-base: #D3BC5F; }
.paidEnough { -color-base: #FAFD00; }

/* Booking options */
.share_mate { -color-base: #FFF073; }
.wrongAllocation { -color-base: #FF4400; }

.backoffice_released {-color-base: #E0CDCD;}
.frontoffice_released {-color-base: #E0CDCD;}

.backoffice_released {
    -fx-background-color:   -fx-table-cell-border-color,
                            linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
                            linear-gradient(from 0px 5px to 5px 0px, reflect, transparent, transparent 85%, #808080);
}

.frontoffice_released {
    -fx-background-color:   -fx-table-cell-border-color,
                            linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
                            linear-gradient(from 0px 5px to 5px 0px, reflect, transparent, transparent 85%, #808080),
                            linear-gradient(from 0px 0px to 5px 5px, reflect, transparent, transparent 85%, #808080);
}

.share_owner {
    -fx-font-style: italic;
}

.no_share { }

/* Stays */
.nonStay { -stay-color: transparent; }
.workingVisitStay { -stay-color: #E4399E; }
.discoveryStay { -stay-color: #FF9A40; }
.guestStay { -stay-color: #200772; }
.standardStay { -stay-color: #9276EB; }

/* Payments */
.pending { -color-base: #E0CDCD; }
.successful { -color-base: #CCFF00; }
.failed { -color-base: #FF8080; }
.batch { -color-base: #FFDD73; }

/* Organizations */
.kmc { -color-base: #dfabfc; }
.kbc { -color-base: #fdfe96; }
.branch { -color-base: #cef7ff; }
.closed { -color-base: #E0CDCD; }

/* .table-row-cell { */
.abandoned, .absent, .cancelled, .arrived, .arrivedWithBalance, .flagged, .changed, .passReady, .confirmed, .paidInFull, .overPaid, .noDeposit, .willPay, .paidUnderMinimal, .paidEnough, .share_mate, .wrongAllocation, .nonStay, .workingVisitStay, .discoveryStay, .guestStay, .standardStay, .pending, .successful, .failed, .batch, .kmc, .kbc, .branch, .closed {
    -fx-background-color:
        /*-fx-table-cell-border-color,*/
        linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
        linear-gradient(from 0% 0% to 100% 0%, -stay-color 0%, -stay-color 40%, transparent 50%, transparent 100%);
    -fx-font-weight: normal;
}

#bookings .table-row-cell:selected, #bookings .grid-row.selected {
    -fx-background-color:
        -fx-focus-color,
        -fx-cell-focus-inner-border,
        linear-gradient(to bottom, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
        linear-gradient(to right, -stay-color 0%, -stay-color 40%, transparent 50%, transparent 100%),
        linear-gradient(from 0px 0px to 5px 10px, reflect, -selection-color 30%, transparent 70%);
}

.unread, .kmc {
    -fx-font-weight: bold;
}

.specialRate, .branch {
    -fx-font-style: italic;
}

.child .table-cell, .child .text {
    -fx-text-fill: blue;
    -fx-fill: blue;
    -fx-font-style: italic;
}

/*===== modality-backoffice-recurringevents-javafx@main.css from modality-event-backoffice-activity-recurringevents-plugin =====*/

.booking-name
{
    -fx-text-fill: #838788;
}

.booking-status-confirmed
{
     -fx-text-fill: #41BA4D;
     -fx-font-size: 9px;

}

.booking-status-unconfirmed
{
    -fx-text-fill: #eb8634;
    -fx-font-size: 9px;
}
.booking-total-count
{
    -fx-text-fill: #FF0404;
    -fx-font-size: 9px;
}

