.audio-library {
    font-family: "Poppins", sans-serif;
}

.list-tracks-title {
    font-weight: bold;
    font-size: 24px;
    color: #4A4748; /* Text color equivalent to -fx-text-fill */
}

.audio-library .name, .audio-library .btn {
    font-weight: 400; /* Semibold equivalent */
    font-size: 16px;
}

.audio-library .comment {
    font-weight: 300; /* Light equivalent */
    font-size: 10px;
    color: #838788; /* Text color equivalent to -fx-text-fill */
}
