.audio-library {
    -fx-font-family: "Poppins";
}

.list-tracks-title {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #4A4748;
}

.audio-library .name, .audio-library .btn {
    -fx-font-weight: 600; /* semi-bold */
    -fx-font-size: 16px;
}

.audio-library .comment {
    -fx-font-weight: 300; /* light */
    -fx-font-size: 10px;
    -fx-text-fill: #838788;
}
