.booking-elements {
    font-family: "Poppins", sans-serif;
    --fx-textarea-border-color: black;
    --fx-textarea-border-radius: 19px;
}

.booking-elements.booking-form {
    font-size: 15px;
}

.personal-details-container, .personal-details-container input {
    font-size: large;
}

.person-to-book-button, .person-to-book-dialog {
    --fx-background-color: var(--brand-blue-color);
    --fx-border-style:none;
    --fx-text-fill: white;
    --fx-svg-path-fill: transparent;
    --fx-svg-path-stroke: white;
}

.person-to-book-dialog {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    --webfx-visualgrid-selection-color: #6aabd5;
}

.booking-elements .navigation-bar {
    font-weight: bold;
    --fx-background-image: linear-gradient(to right, #E7E7E7, #E7E7E7 75%, #0096D6 78%, #0096D6);
    --fx-background-radius: 8px;
    --fx-border-style: solid;
    --fx-border-color: transparent;
    --fx-border-image: linear-gradient(to right, #E7E7E7, #E7E7E7 75%, #0096D6 78%, #0096D6);
    --fx-border-width: 1px;
    --fx-border-radius: 8px;
    --fx-button-background-color: transparent;
    --fx-button-border-color: transparent;
    --fx-border-color-focus: transparent;
    --fx-togglebutton-border-color-hover: transparent;
    --fx-togglebutton-border-color-selected: transparent;
    --webfx-aria-toggle-button-background-color: transparent;
    --webfx-aria-toggle-button-background-color-hover: transparent;
    --webfx-aria-toggle-button-background-color-fired: transparent;
}

.booking-elements .navigation-bar .title {
    --fx-background-color: white;
    --fx-background-radius: 8px;
    --fx-border-style: solid;
    --fx-border-color: #E7E7E7;
    --fx-border-width: 1px;
    --fx-border-radius: 8px;
}

.booking-elements .navigation-bar fx-togglebutton.disabled {
    --fx-text-fill: transparent;
}

.booking-elements .next-button {
    --fx-text-fill: white;
}

.booking-elements .back-button {
    --fx-text-fill: var(--bootstrap-grey5);
    --webfx-aria-toggle-button-text-fill-fired: var(--bootstrap-grey5);
}

.booking-elements .price-bar {
    font-weight: bold;
    --fx-background-color: #F4F4F4;
}

.booking-elements .price-label {
    --fx-text-fill: #838788;
    font-weight: bold;
}

.booking-elements .badge { /* badges don't look vertically centered with Poppins font on the web version */
    font-family: "Montserrat", sans-serif;
}

.booking-elements .wording-label {
    --fx-line-height: 1.6;
}

.booking-elements .option-label {
    font-weight: bold;
}

.booking-elements .option-label-secondary {
    font-weight: 600;
}

.booking-elements .period-label {
    --fx-text-fill: #838788;
}

.booking-elements .price-label {
    font-weight: bold;
    --fx-text-fill: #838788;
}

.booking-elements .sub-price-label {
    --fx-text-fill: #838788;
}