.booking-elements {
    -fx-font-family: "Poppins";
}

.booking-elements .navigation-bar {
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to right, #E7E7E7, #E7E7E7 75%, #0096D6 78%, #0096D6);
    -fx-background-radius: 8px;
    -fx-border-color: linear-gradient(to right, #E7E7E7, #E7E7E7 75%, #0096D6 78%, #0096D6);
    -fx-border-radius: 8px;
}

.booking-elements .navigation-bar .title {
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.booking-elements .navigation-bar ToggleButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.booking-elements .navigation-bar ToggleButton:disabled {
    -fx-text-fill: transparent;
}

.booking-elements .next-button {
    -fx-text-fill: white;
}

.booking-elements .back-button {
    -fx-text-fill: -bootstrap-grey5;
}

.booking-elements .price-bar {
    -fx-background-color: #F4F4F4;
    -fx-font-weight: bold;
}

.booking-elements RadioButton, .booking-elements CheckBox {
    -fx-font-weight: bold;
}

.booking-elements .period-label {
    -fx-text-fill: #838788;
}

.booking-elements .price-label {
    -fx-font-weight: bold;
    -fx-text-fill: #838788;
}

.booking-elements .sub-price-label {
    -fx-text-fill: #838788;
}

.booking-elements LabeledText {
    -fx-font-size: 14px;
    -fx-line-spacing: 5px;
}

.booking-elements .text-area {
    -fx-border-color: black;
    -fx-border-radius: 19px;
    -fx-background-radius: 19px;
}