.booking-form .navigation-bar {
    font-weight: bold;
    --fx-background-image: linear-gradient(to right, #E7E7E7, #E7E7E7 75%, #0096D6 78%, #0096D6);
    --fx-background-radius: 8px;
    --fx-border-style: solid;
    --fx-border-color: transparent;
    --fx-border-image: linear-gradient(to right, #E7E7E7, #E7E7E7 75%, #0096D6 78%, #0096D6);
    --fx-border-width: 1px;
    --fx-border-radius: 8px;
    --fx-button-background-color: transparent;
    --fx-button-border-color: transparent;
    --fx-border-color-focus: transparent;
    --fx-togglebutton-border-color-hover: transparent;
    --fx-togglebutton-border-color-selected: transparent;
    --webfx-aria-toggle-button-background-color: transparent;
    --webfx-aria-toggle-button-background-color-hover: transparent;
    --webfx-aria-toggle-button-background-color-fired: transparent;
}

.booking-form .navigation-bar .title {
    --fx-background-color: white;
    --fx-background-radius: 8px;
    --fx-border-style: solid;
    --fx-border-color: #E7E7E7;
    --fx-border-width: 1px;
    --fx-border-radius: 8px;
}

.booking-form .navigation-bar fx-togglebutton.disabled {
    --fx-text-fill: transparent;
}

.booking-form .next-button {
    --fx-text-fill: white;
}

.booking-form .back-button {
    --fx-text-fill: var(--bootstrap-grey5);
    --webfx-aria-toggle-button-text-fill-fired: var(--bootstrap-grey5);
}

.booking-form .price-bar {
    font-weight: bold;
    --fx-background-color: #F4F4F4;
}

.booking-form .price-label {
    --fx-text-fill: #838788;
    font-weight: bold;
}

.booking-form {
    font-family: "Poppins", sans-serif;
    --fx-line-height: 1.6;
    --fx-textarea-border-color: black;
    --fx-textarea-border-radius: 19px;
}

.booking-form fx-radiobutton, .booking-form fx-checkbox {
    font-weight: bold;
}

.booking-form .period-label {
    --fx-text-fill: #838788;
}

.booking-form .price-label {
    font-weight: bold;
    --fx-text-fill: #838788;
}