.user-profile-modal-window {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-color: lightgray;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, lightgray, 10, 0, 0, 0);
}

.user-profile .material-label { /* is actually a JavaFX Text */
     -fx-fill: black;
     -fx-font-weight: 800;
}
