/* @font-face rules listed first, otherwise they are ignored (OpenJFX bug) */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url('css:fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('css:fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('css:fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    src: url('css:fonts/montserrat/Montserrat-BoldItalic.ttf');
}


/*===== webfx-extras-material-javafx@main.css from webfx-extras-materialdesign =====*/


.material {
     -fx-background-color: white , white , white;
     -fx-background-insets: 0, 0, 0;
}

/*===== webfx-extras-visual-grid-javafx@main.css from webfx-extras-visual-grid-peers-openjfx =====*/

VisualGrid {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

.table-view {
    -fx-table-cell-border-color: #bbbbbb; /* same color as java 7 caspian, java 8 one is too light on colored rows */
    -fx-cursor: hand;
}

.table-view.noHeader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view.fullHeight *.scroll-bar:vertical {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}

.table-row-cell:empty {
    -fx-opacity: 0.0;
}

.table-row-cell .table-cell {
    -fx-padding: 1.4mm 1.4mm 0.6mm 1.4mm;
}

.table-row-cell .text, .column-header .text, .grid .text, .grid Text { /* texts displayed in tables */
   -fx-font-family: "Roboto"; /* embedded font to be sure it can correctly render bold and italic on all systems */
   -fx-font-size: 13.5px;
   -fx-font-smoothing-type: gray;
   -fx-fill: rgba(0, 0, 0, 0.7);
}

.grid .scroll-pane {
    -fx-padding: 0;
}

.grid-head, .grid-row {
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 0 1px 0;
}

.grid-col {
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 1px 0 0;
}

.table-row-cell:selected .table-cell {
   -fx-text-fill: -fx-text-inner-color;
}

/*===== webfx-extras-webtext-javafx@main.css from webfx-extras-webtext-peers-openjfx =====*/

HtmlText, HtmlTextEditor {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

/*===== javafx@main.css from modality-base-client-css =====*/

* {
    -webfx-switch-selected-background-color: #0096D6;
    -green-color: #41BA4D;
    -green-color-hover: #38a143;
    -blue-color: #0096D6;
    -blue-color-hover: #0082ba;
    -grey-color: #838788;
    -grey-color-hover: #717475;
    -red-color: red;
    -red-color-hover: #de0000;
    -orange-color: #EE7130;
}

.event-button
{
    -fx-background-radius: 4;
    -fx-pref-height:35px;
    -fx-max-height:35px;
    -fx-alignment: center;
 /*  -fx-font-family: "Google Sans", Roboto, Arial;*/
    -fx-font-weight: bolder;
}

.primary-button {
    -fx-background-color: -blue-color;
    -fx-text-fill: white;
}
.primary-button:hover {
    -fx-background-color: -blue-color-hover;
}

.danger-button {
    -fx-background-color: -red-color;
    -fx-text-fill: white;
}
.danger-button:hover {
    -fx-background-color: -red-color-hover;
}

.success-button {
    -fx-background-color: -green-color;
    -fx-text-fill: white;
}

.success-button:hover {
  -fx-background-color: -green-color-hover;
}

.secondary-button {
    -fx-background-color: -grey-color;
    -fx-text-fill: white;
}

.secondary-button:hover {
    -fx-background-color: -grey-color-hover;
}

.primary-text, .primary-text SVGPath{
    -fx-text-fill: -blue-color;
    -fx-fill: -blue-color;
}

.secondary-text, .secondary-text SVGPath {
    -fx-text-fill: -grey-color;
    -fx-fill: -grey-color;
}

.warning-text, .warning-text SVGPath {
    -fx-text-fill: -orange-color;
    -fx-fill: -orange-color;
}

.danger-text, .danger-text SVGPath {
    -fx-text-fill: -red-color;
    -fx-fill: -red-color;
}

.success-text, .success-text SVGPath {
    -fx-text-fill: -green-color;
    -fx-fill: -green-color;
}

.emphasize {
    -fx-font-weight: bolder;
}

.title
{
  -fx-font-size: 35px;
}
.subtitle
{
  -fx-font-size: 22px;
}

.title3
{
  -fx-font-size: 16px;
}

.title4
{
  -fx-font-size: 14px;
}

.confirmation-title {
   -fx-font-size: 22px;
   -fx-text-fill: -green-color;
   -fx-fill: -green-color;
   -fx-font-weight: bolder;
}


.small-text
{
  -fx-font-size: 9px;
}

.table-row-cell:selected .font-blue
{

}

.table-row-cell:selected {
  -fx-background: #BBBBBB;
}


.webfx-dates-picker-selected {
    -fx-background-color: #afe7ff;
    -fx-background-radius: 10px;
}

.webfx-dates-picker-secondary {
    -fx-background-color: #cccccc;
    -fx-background-radius: 10px;
}

.webfx-dates-picker-arrow {
    -fx-fill: -blue-color;
    -fx-background-radius: 10px;
}

.webfx-dates-picker-month {
    -fx-text-fill: -blue-color;
    -fx-font-size: 14px;
}

/*===== modality-client-login-javafx@main.css from modality-crm-client-activity-login-plugin =====*/



.login {
    -fx-font-size: 18px;
}

.login Button {
    -fx-background-color: #0096D6FF;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

/*===== modality-client-javafx@main.css from modality-base-client-application =====*/

Text, Label, Button, TextField {
    -fx-font-family: 'Montserrat';
}

.scroll-pane {
   -fx-background-color: transparent;
   -fx-padding: 0;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

/*===== modality-frontoffice-booking-javafx@main.css from modality-event-frontoffice-activity-booking-plugin =====*/

.description-text {
    -fx-text-alignment: justify;
}

.description-text TextFlow {
    -fx-line-spacing: 8px;
}

.eventTime {
    -fx-font-size: 10px;
}

.subtitle-grey {
   -fx-text-fill: grey;
   -fx-fill: grey;
   -fx-font-size: 14px;
}

.book-event-primary-title {
   -fx-font-weight: bolder;
   -fx-text-fill: -blue-color; /* blue-color is defined in modality-base-client-css*/
   -fx-fill: #0096D6;
   -fx-font-weight: bolder;
   -fx-font-size: 14px;
}

.date-selected {
     -fx-background-color: #0096D6;
}
.date-non-selectable {
    -fx-background-color: #AAAAAA;
}

.date-past-not-selected {
     -fx-background-color: #CCCCCC;
}

.date-selected Text {
    -fx-fill: white;
}

.date-unselected {
     -fx-background-color: none;
}

.date-unselected Text {
    -fx-fill: black;
}


.checkout-address, .checkout-address SVGPath  {
    -fx-text-fill: #BBBBBB;
    -fx-fill: #BBBBBB;
}

.line-total {
    -fx-background-color: #CCCCCC;
}

.line-total Text {
    -fx-font-weight: bolder;
}