/* @font-face rules listed first, otherwise they are ignored (OpenJFX bug) */

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('webfx-css:fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url('webfx-css:fonts/roboto/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300; /* light */
    src: url('webfx-css:fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    src: url('webfx-css:fonts/roboto/Roboto-BoldItalic.ttf');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url('webfx-css:fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('webfx-css:fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('webfx-css:fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    src: url('webfx-css:fonts/montserrat/Montserrat-BoldItalic.ttf');
}

@font-face {
    font-family: 'Vollkorn SC';
    font-weight: bold;
    src: url('webfx-css:fonts/vollkornsc/VollkornSC-Bold.ttf');
}

@font-face {
    font-family: 'Vollkorn SC';
    font-style: normal;
    src: url('webfx-css:fonts/vollkornsc/VollkornSC-Regular.ttf');
}

@font-face {
    font-family: 'Vollkorn SC';
    font-weight: 600; /* semi-bold */
    src: url('webfx-css:fonts/vollkornsc/VollkornSC-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: url('webfx-css:fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: medium;
    src: url('webfx-css:fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    src: url('webfx-css:fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    src: url('webfx-css:fonts/poppins/Poppins-Italic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    font-style: italic;
    src: url('webfx-css:fonts/poppins/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 300; /* light */
    src: url('webfx-css:fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600; /* semi-bold */
    src: url('webfx-css:fonts/poppins/Poppins-SemiBold.ttf');
}


/*===== webfx-extras-visual-grid-javafx@main.css from webfx-extras-visual-grid =====*/

VisualGrid {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

* {
    -webfx-visualgrid-row-border-color: #D3D3D3;
    -webfx-visualgrid-col-border-color: #D3D3D3;
    -webfx-visualgrid-selection-color: #AED6F1;
}

.table-view {
    -fx-table-cell-border-color: #bbbbbb; /* same color as java 7 caspian, java 8 one is too light on colored rows */
    -fx-cursor: hand;
}

.table-view.noHeader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view.fullHeight *.scroll-bar:vertical {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}

.table-row-cell:empty {
    -fx-opacity: 0.0;
}

.table-row-cell .table-cell {
    -fx-padding: 1.4mm 1.4mm 0.6mm 1.4mm;
}

.grid .scroll-pane {
    -fx-padding: 0;
}

.grid-head, .grid-row {
    -fx-border-color: -webfx-visualgrid-row-border-color;
    -fx-border-width: 0 0 1px 0;
}

.grid-col {
    -fx-border-color: -webfx-visualgrid-col-border-color;
    -fx-border-width: 0 1px 0 0;
}

.table-row-cell:selected {
    -fx-background: -webfx-visualgrid-selection-color;
}

.table-row-cell:selected .table-cell {
   -fx-text-fill: -fx-text-inner-color;
}

/*===== webfx-extras-bootstrap-javafx@main.css from webfx-extras-styles-bootstrap =====*/

/* Bootstrap style */
* {
    -bootstrap-white: #fff ;
    
    -bootstrap-grey1: #e6e6e6 ;
    -bootstrap-grey2: #d4d4d4 ;
    -bootstrap-grey3: #ccc ;
    -bootstrap-grey4: #adadad ;
    -bootstrap-grey5: #8c8c8c ;
    -bootstrap-grey6: #777777 ;
    -bootstrap-grey7: #333 ;

    -bootstrap-blue1: #5bc0de ;
    -bootstrap-blue2: #46b8da ;
    -bootstrap-blue3: #31b0d5 ;
    -bootstrap-blue4: #269abc ;
    -bootstrap-blue5: #337ab7 ;
    -bootstrap-blue6: #2e6da4 ;
    -bootstrap-blue7: #1b6d85 ;
    -bootstrap-blue8: #286090 ;
    -bootstrap-blue9: #204d74 ;
    -bootstrap-blue10: #122b40 ;
    -bootstrap-blue11: #31708f ;

    -bootstrap-green1: #5cb85c ;
    -bootstrap-green2: #4cae4c ;
    -bootstrap-green3: #449d44 ;
    -bootstrap-green4: #398439 ;
    -bootstrap-green5: #255625 ;
    -bootstrap-green6: #3c763d ;

    -bootstrap-orange1: #f0ad4e ;
    -bootstrap-orange2: #eea236 ;
    -bootstrap-orange3: #ec971f ;
    -bootstrap-orange4: #d58512 ;
    -bootstrap-orange5: #985f0d ;
    -bootstrap-orange6: #8a6d3b ;

    -bootstrap-red1: #d9534f ;
    -bootstrap-red2: #d43f3a ;
    -bootstrap-red3: #c9302c ;
    -bootstrap-red4: #ac2925 ;
    -bootstrap-red5: #761c19 ;
    -bootstrap-red6: #a94442 ;

    /*-bootstrap-font-size: 14px;*/ /* default value for buttons */
}

/* Buttons */

.btn {
    -fx-font-weight: normal;
    -fx-text-alignment: center;
    -fx-cursor: default;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-insets: 0, 0, -1, 0;
    /*-fx-padding: 6px 12px 6px 12px;*/ /* hardcoded for web support */
    /*-fx-font-size: -bootstrap-font-size;*/
    -fx-font-size: 14px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    /*-fx-min-width: 80px;*/ /* hardcoded for web support */
}

.btn:hover {
    -fx-text-fill: -bootstrap-grey7;
    -fx-fill: -bootstrap-grey7;
}

.btn-default, .btn.default, .default .btn {
    -fx-text-fill: -bootstrap-grey7;
    -fx-fill: -bootstrap-grey7;
    -fx-background-color: -bootstrap-white;
    -fx-border-color: -bootstrap-grey3;
}

.btn-default:hover, .btn.default:hover, .default .btn:hover {
    -fx-text-fill: -bootstrap-grey7;
    -fx-fill: -bootstrap-grey7;
    -fx-background-color: -bootstrap-grey1;
    -fx-border-color: -bootstrap-grey5;
}

.btn-primary, .btn.primary, .primary .btn {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-blue5;
    -fx-border-color: -bootstrap-blue6;
}

.btn-primary .svg-path, .btn .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-primary .progress-indicator, .btn .progress-indicator {
    -fx-accent: -bootstrap-white;
}

.btn-primary:hover, .btn.primary:hover, .primary .btn:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-blue8;
    -fx-border-color: -bootstrap-blue9;
}

.txt-secondary, .txt.secondary, .secondary .txt {
    -fx-text-fill: -bootstrap-grey6;
}

.btn-secondary, .btn.secondary, .secondary .btn {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-grey4;
    -fx-border-color: -bootstrap-grey5;
}

.btn-secondary .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-secondary .progress-indicator {
    -fx-accent: -bootstrap-white;
}

.btn-secondary:hover, .btn.secondary:hover, .secondary .btn:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-grey5;
    -fx-border-color: -bootstrap-grey6;
}

.btn-success, .btn.success, .success .btn {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-green1;
    -fx-border-color: -bootstrap-green2;
}

.btn-success .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-success .progress-indicator {
    -fx-accent: -bootstrap-white;
}

.btn-success:hover, .btn.success:hover, .success .btn:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-green3;
    -fx-border-color: -bootstrap-green4;
}

.btn-info,  .btn.info, .info .btn {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-blue1;
    -fx-border-color: -bootstrap-blue2;
}

.btn-info .progress-indicator {
    -fx-accent: -bootstrap-white;
}

.btn-info .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-info:hover, .btn.info:hover, .info .btn:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-blue3;
    -fx-border-color: -bootstrap-blue4; 
}

.btn-warning, .btn.warning, .warning .btn {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-orange1;
    -fx-border-color: -bootstrap-orange2;
}

.btn-warning .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-warning .progress-indicator {
    -fx-accent: -bootstrap-white;
}


.btn-warning:hover, .btn.warning:hover, .warning .btn:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-orange3;
    -fx-border-color: -bootstrap-orange4;
}


.btn-danger, .btn.danger, .danger .btn {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-red1;
    -fx-border-color: -bootstrap-red2;
}

.btn-danger .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-danger .progress-indicator {
    -fx-accent: -bootstrap-white;
}

.btn-danger:hover, .btn.danger:hover, .danger .btn:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-red3;
    -fx-border-color: -bootstrap-red4;
}

.lg, .btn-lg, .btn.lg {
    /*-bootstrap-font-size: 18px;*/
    -fx-font-size: 18px; /* overriding because OpenJFX CSS variable are globals only */
}

.btn-lg {
    /*-fx-padding: 10px 16px 10px 16px;*/ /* hardcoded for web support */
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.sm, .btn-sm, .btn.sm {
    /*-bootstrap-font-size: 12px;*/
    -fx-font-size: 12px; /* overriding because OpenJFX CSS variable are globals only */
}

.btn-sm {
    /*-fx-padding: 5px 10px 5px 10px;*/ /* hardcoded for web support */
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.xs, .btn-xs, .btn.xs {
    /*-bootstrap-font-size: 12px;*/
    -fx-font-size: 12px; /* overriding because OpenJFX CSS variable are globals only */
}

.btn-xs {
    /*-fx-padding: 1px 5px 1px 5px;*/ /* hardcoded for web support */
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.lg .btn {
    /*-bootstrap-font-size: 18px;*/
    -fx-font-size: 18px; /* overriding because OpenJFX CSS variable are globals only */
}

.sm .btn {
    /*-bootstrap-font-size: 12px;*/
    -fx-font-size: 12px; /* overriding because OpenJFX CSS variable are globals only */
}

.xs .btn {
    /*-bootstrap-font-size: 12px;*/
    -fx-font-size: 12px; /* overriding because OpenJFX CSS variable are globals only */
}

.btn-block {
    width: 100%;
}

/* Text */

.b, .strong {
    -fx-font-weight: bold;
}

.i, .em, .italic, .dfn {
    -fx-font-style: italic;
}

.h1 {
    -fx-font-size: 2em;
}

.small {
    -fx-font-size: 80%;
}

.code, .kbd, .pre, .samp {
    -fx-font-family: 'monospace';
    -fx-font-size: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    -fx-text-fill: inherit;
    -fx-fill: inherit;
}

.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    -fx-font-weight: normal;
    -fx-text-fill: -bootstrap-grey6;
    -fx-fill: -bootstrap-grey6;
}

.h1 .small, .h2 .small, .h3 .small {
    -fx-font-size: 65%;
}

.h4 .small, .h5 .small, .h6 .small {
    -fx-font-size: 75%;
}

.h1 {
    -fx-font-size: 36px;
}

.h2 {
    -fx-font-size: 30px;
}

.h3 {
    -fx-font-size: 24px;
}

.h4 {
    -fx-font-size: 18px;
}

.h5 {
    -fx-font-size: 14px;
}

.h6 {
    -fx-font-size: 12px;
}

.lead {
    -fx-font-size: 16px;
    -fx-font-weight: 300;
}

.small {
    -fx-font-size: 85%;
}

.txt-left {
    -fx-text-alignment: left;
}

.txt-right {
    -fx-text-alignment: right;
}

.txt-center {
    -fx-text-alignment: center;
}

.txt-justify {
    -fx-text-alignment: justify;
}

.txt-muted {
    -fx-text-fill: -bootstrap-grey6;
    -fx-fill: -bootstrap-grey6;
}

.txt-primary, .txt.primary, .primary .txt {
    -fx-text-fill: -bootstrap-blue5;
    -fx-fill: -bootstrap-blue5;
}

.txt-success, .txt.success, .success .txt {
    -fx-text-fill: -bootstrap-green6;
    -fx-fill: -bootstrap-green6;
}

.txt-info, .txt.info, .info .txt {
    -fx-text-fill: -bootstrap-blue11;
    -fx-fill: -bootstrap-blue11;
}

.txt-warning, .txt.warning, .warning .txt {
    -fx-text-fill: -bootstrap-orange6;
    -fx-fill: -bootstrap-orange6;
}

.txt-danger, .txt.danger, .danger .txt {
    -fx-text-fill: -bootstrap-red6;
    -fx-fill: -bootstrap-red6;
}

/*===== webfx-extras-material-javafx@main.css from webfx-extras-styles-materialdesign =====*/

* {
     /* Colors shared by different Material components */
     -webfx-material-input-text-fill: #1e1e1e;
     -webfx-material-idle-text-fill: #6d6d6d;
     -webfx-material-disabled-fill: #8a8a8a;
     -webfx-material-invalid-fill: #ff1744;
     -webfx-material-focused-fill: #0596FF;

     /* CSS variables applied to specific material components with default values (will be redefined on focus, disabled & invalid) */
     -webfx-material-background-color: white;
     -webfx-material-label-fill: -webfx-material-idle-text-fill;
     -webfx-material-line-fill: -webfx-material-idle-text-fill;
     -webfx-material-line-border-style: solid;
     -webfx-material-focused-line-fill: -webfx-material-focused-fill;
}

/* Applying CSS variables to material components */
.material {
     /* Material background */
     -fx-background-color: -webfx-material-background-color , -webfx-material-background-color , -webfx-material-background-color;
     -fx-background-insets: 0, 0, 0;
}

.material-label { /* is actually a JavaFX Text */
     -fx-fill: -webfx-material-label-fill;
}

.material-line { /* is actually a JavaFX Region */
     /* Using a border (not background) because there is a dotted style for the disabled state */
     -fx-border-color: -webfx-material-line-fill;
     -fx-border-style: solid; /* -webfx-material-line-border-style; not working with OpenJFX) */
     -fx-border-width: 1px;
}

.material-focused-line { /* is actually a JavaFX Region */
     /* Using a background is enough (no need for a border) */
     -fx-background-color: -webfx-material-focused-line-fill;
}

/* Changing CSS variables values in dependence of material state */

.material-focused * {
     -webfx-material-label-fill: -webfx-material-focused-fill;
}

.material-disabled * {
     -webfx-material-label-fill: -webfx-material-disabled-fill;
     -webfx-material-line-fill: -webfx-material-disabled-fill;
     -webfx-material-line-border-style: dotted;
     -webfx-material-focused-line-fill: -webfx-material-disabled-fill;
}

.material-disabled .material-line { /* workaround because -webfx-material-line-border-style is not working with OpenJFX */
     -fx-border-style: dotted;
}

.material-invalid * {
     -webfx-material-label-fill: -webfx-material-invalid-fill;
     -webfx-material-line-fill: -webfx-material-invalid-fill;
     -webfx-material-focused-line-fill: -webfx-material-invalid-fill;
}

/*===== webfx-extra-player-audio-javafxmedia-javafx@main.css from webfx-extras-player-audio-javafxmedia =====*/

.audio-player {
    -fx-background-color: #838788; /* Background color */
     -fx-background-radius: 30;
}

.audio-player h4 {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-alignment: left;
     -fx-text-fill: white;
}


.audio-player .progress-bar {
    -fx-accent: #0096D6; /* Progress fill color */
    -fx-background-color: #E0E0E0; /* Background color */
    -fx-background-radius: 15; /* Rounded background */
    -fx-border-radius: 15; /* Rounded border */
    -fx-padding: 2; /* Padding around progress */
}

.audio-player .time {
    -fx-font-family: "Poppins";
    -fx-text-fill: white;
    -fx-font-size: 13px;
}


/*===== webfx-extras-webtext-javafx@main.css from webfx-extras-webtext-peers-openjfx =====*/

HtmlText, HtmlTextEditor {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

/*===== webfx-stack-password-javafx@main.css from webfx-stack-authn-login-ui-gateway-password-plugin =====*/

/* We don't want the default white background for WebFX Extras material text fields in the login window */
.login * {
    -webfx-material-background-color: transparent;
}
/*===== webfx-stack-authn-login-ui-portal-javafx@main.css from webfx-stack-authn-login-ui-portal =====*/

* {
    -webfx-login-portal-background-image: none; /* Specify the path to your image */
    -webfx-login-portal-title-color: #0096D6;
}

.login {
    -fx-background-image: none; /*-webfx-login-portal-background-image; not working*/
    -fx-background-repeat: no-repeat; /* Prevents the image from repeating */
    -fx-background-size: cover; /* Scales the image to cover the area */
    -fx-background-position: center;
}

.login .background {
    -fx-background-image: none;
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 20px;
    -fx-border-color: lightgray;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, lightgray, 10, 0, 0, 0);
}

.login .h2 { /* Login word on top */
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: bold;
    -fx-line-spacing: 0;
    -fx-text-fill: -webfx-login-portal-title-color;
}
/*===== modality-client-brand-javafx@main.css from modality-base-client-brand =====*/

* {
    -brand-orange-color: #F6782E;
    -brand-blue-color: #0096D6;
    -brand-main-color: -brand-orange-color;
    -brand-main-background-color: -brand-orange-color;
}
/*===== modality-client-css-import-font-roboto-javafx@main.css from modality-base-client-css =====*/

/*===== modality-client-css-import-font-monserrat-javafx@main.css from modality-base-client-css =====*/

/*===== modality-client-css-import-font-vollkornsc-javafx@main.css from modality-base-client-css =====*/

/*===== modality-client-css-javafx@main.css from modality-base-client-css =====*/

* {
    -montserrat-font-family: "Montserrat";
    -roboto-font-family: "Roboto";
    -poppins-font-family: "Poppins";
    -vollkorn-font-family: "Vollkorn SC";

    /* Overriding some WebFX Extras CSS variables  */
    -webfx-switch-selected-background-color: -brand-main-background-color;
    -webfx-visualgrid-selection-color: #BBBBBB;
}

Text, Label, Button, TextField {
    -fx-font-family: "Montserrat"; /* -montserrat-font-family; */
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Not sure if it's the right place for this CSS rules */
.event-button Button {
    -fx-background-radius: 4;
    -fx-pref-height:36px;
    -fx-max-height:36px;
    -fx-alignment: center;
    -fx-font-weight: bolder;
}

/*===== modality-client-css-import-font-poppins-javafx@main.css from modality-base-client-css =====*/

/*===== modality-frontoffice-mainframe-javafx@main.css from modality-base-frontoffice-mainframe-activity =====*/

CollapsePane.menu-bar.non-mobile {
    -fx-background-color: white;
    -fx-border-width: 0 0 1px 0 ;
    -fx-border-color: lightgray;
}

CollapsePane.menu-bar.lang-menu-bar {
    -fx-border-width: 0;
}

.menu-bar {
    -fx-font-family: -poppins-font-family;
}

.lang-menu-bar .selected Text {
    -fx-fill: white;
}

.menu-bar Button {
    -fx-background-color: white; /* removes old-style button gradient */
}

.main-menu-bar Button {
    -fx-text-fill: black;
}

.user-menu-bar Label, .user-menu-bar Button {
    -fx-font-size: 12px;
    -fx-text-fill: #838788;
}

.main-menu-bar Label.brand {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -brand-blue-color;
}

.main-menu-bar Label.brand SVGPath {
    -fx-fill: -brand-blue-color;
}

/*===== modality-base-front-office-javafx@main.css from modality-base-frontoffice-application =====*/

* {
    -webfx-visualgrid-col-border-color: transparent;
}
/*===== modality-client-bootstrap-javafx@main.css from modality-base-client-bootstrap =====*/

/* Bootstrap style */
* {
    -bootstrap-white: #fff ;
    
    -bootstrap-grey1: #e6e6e6 ;
    -bootstrap-grey2: #d4d4d4 ;
    -bootstrap-grey3: #ccc ;
    -bootstrap-grey4: #adadad ;
    -bootstrap-grey5: #8c8c8c ;
    -bootstrap-grey6: #777777 ;
    -bootstrap-grey7: #333 ;

    -bootstrap-blue1: #88c9ff; /* Lightest shade */
    -bootstrap-blue2: #70c0ff;
    -bootstrap-blue3: #58b7ff;
    -bootstrap-blue4: #40afff;
    -bootstrap-blue5: #0096D6; /* New base blue */
    -bootstrap-blue6: #0478e6; /* Darker shade */
    -bootstrap-blue7: #0361cc;
    -bootstrap-blue8: #0088d6;
    -bootstrap-blue9: #204d74;
    -bootstrap-blue10: #003682; /* Darkest shade */
    -bootstrap-blue11: #00285b;

    -bootstrap-green1: #5cb85c ;
    -bootstrap-green2: #4cae4c ;
    -bootstrap-green3: #449d44 ;
    -bootstrap-green4: #398439 ;
    -bootstrap-green5: #255625 ;
    -bootstrap-green6: #41BA4D ;

    -bootstrap-orange1: #f0ad4e ;
    -bootstrap-orange2: #eea236 ;
    -bootstrap-orange3: #ec971f ;
    -bootstrap-orange4: #d58512 ;
    -bootstrap-orange5: #985f0d ;
    -bootstrap-orange6: #8a6d3b ;

    -bootstrap-red1: #FF0404 ;
    -bootstrap-red2: #d43f3a ;
    -bootstrap-red3: #c9302c ;
    -bootstrap-red4: #ac2925 ;
    -bootstrap-red5: #761c19 ;
    -bootstrap-red6: #FF0404 ;
}

.h1 {
    -fx-font-family: "Roboto"; /*-roboto-font-family */
    -fx-font-size: 34px;
    -fx-font-weight: normal;
    -fx-line-spacing: 6px; /* Line height in JavaFX is set through line-spacing */
    -fx-text-alignment: left;
}

.h2 {
    -fx-font-family: "Poppins"; /* -poppins-font-family; */
    -fx-font-size: 40px;
    -fx-font-weight: bold;         /* 'bold' is equivalent to 700 weight */
    -fx-line-spacing: 20px;
    -fx-text-alignment: center;    /* Aligns text within its container */
    }

.btn-black {
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-background-color: black;
    -fx-border-color: black;
}

.btn-black:hover {
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-background-color: -bootstrap-grey7;
    -fx-border-color: -bootstrap-grey7;
}

.btn-white {
    -fx-text-fill: black;
    -fx-fill: black;
    -fx-background-color: white;
    -fx-border-color: black;
}

.btn-white:hover {
    -fx-text-fill: black;
    -fx-fill: black;
    -fx-background-color: -bootstrap-grey1;
    -fx-border-color: black;
}
/*===== modality-event-frontoffice-activities-audiorecordings-javafx@main.css from modality-event-frontoffice-activity-audiorecordings-plugin =====*/

.audio-library {
    -fx-font-family: "Poppins";
}

.list-tracks-title {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: -bootstrap-grey7;
}

/** styles for the video desktop table and mobile view **/

.audio-library .name, .audio-library .btn {
    -fx-font-weight: 600; /* semi-bold */
    -fx-font-size: 16px;
}

.audio-library .session-cancelled {
    -fx-font-weight: 200;
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-text-fill: -bootstrap-grey5;
}

.audio-library .cancelled {
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: -bootstrap-grey5;
}

.audio-library .comment {
    -fx-font-weight: 300; /* light */
    -fx-font-size: 10px;
    -fx-text-fill: -bootstrap-grey5;
}

/*===== modality-event-frontoffice-activities-videos-javafx@main.css from modality-event-frontoffice-activity-videos-plugin =====*/

.livestream .h2 {
    -fx-line-spacing: 0px;
}

.livestream .h3 {
    -fx-font-family: "Poppins";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: left; /* Aligns text */
}

.livestream .h4 {
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-font-weight: 600; /* semi-bold */
    -fx-text-alignment: left; /* Aligns text */
}

.livestream .grid-head {
    -fx-font-weight: 600; /* medium */
}

.livestream .small {
    -fx-font-weight: 300; /* light */
}

.livestream .text-info {
    -fx-text-fill: black;
    -fx-font-weight: normal;
}

/** styles for the video desktop table and mobile view **/

.livestream .grid-head Text /* desktop only */ {
    -fx-font-weight: 500;
    -fx-font-size: 18px;
    -fx-fill: -brand-blue-color;
}

.livestream .grid-group {
    -fx-background-color: -brand-blue-color;
    -fx-font-weight: bold;
}

.livestream .grid-group Text {
    -fx-fill: white;
}

.livestream .grid-body .date /* desktop Date col */, .livestream .grid-row .date /* mobile Date row */ {
    -fx-font-weight: bold;
}

.livestream .grid-body .time Text /* desktop Time col */, .livestream .grid-row Text.time /* mobile Time row */ {
    -fx-font-weight: 500; /* semi-bold */
    -fx-fill: -bootstrap-grey5;
}

.livestream .grid-body .name /* desktop Name col */, .livestream .grid-row .name /* mobile Name row */ {
    -fx-font-weight: bold;
}

.livestream .grid-body .session-cancelled /* desktop cancelled session */, .livestream .grid-row .session-cancelled /* mobile cancelled session */ {
    -fx-font-weight: 200;
    -fx-font-style: italic;
    -fx-text-fill: -bootstrap-grey5;
}

.livestream .grid-body .status /* desktop Status col */, .livestream .grid-row .status /* mobile Status row */, .livestream .btn /* desktop and mobile buttons */ {
    -fx-font-weight: bold;
}

.livestream .program-box {
    -fx-background-color: lightgray;
    -fx-background-radius: 25;
}

/*===== modality-event-client-recurringevents-javafx@main.css from modality-event-client-recurringevents =====*/

* {
    -fx-event-description-text-color: #444;
}

.event-title, .event-title Text, .event-title SVGPath {
    -fx-text-fill: white;
    -fx-fill: white;
}

.event-description-text, .event-description-text Text {
    -fx-text-fill: -fx-event-description-text-color;
    -fx-fill: -fx-event-description-text-color;
    -fx-text-alignment: justify;
}

.event-description-text TextFlow {
    -fx-line-spacing: 12px;
}


.subtitle-grey {
   -fx-text-fill: grey;
   -fx-fill: grey;
   -fx-font-size: 14px;
}

/* Date cells for recurring events */

.event-date-cell {
    -fx-border-color: #cccccc;
}

.event-date-cell.date-unselected Text {
    -fx-fill: #444;
}

.event-date-cell Text.event-time {
    -fx-fill: #838788;
}

.event-date-cell.date-unselected {
    -fx-background-color: none;
}

.event-date-cell.date-non-selectable {
    -fx-border-color: #cccccc;
    -fx-background-color: #dddddd;
}

.event-date-cell.date-non-selectable Text,
.event-date-cell.date-non-selectable Text.event-time {
    -fx-fill: #aaaaaa;
}

.event-date-cell.date-selected,
.event-date-cell.date-already-booked {
    -fx-border-color: none;
    -fx-background-color: -brand-main-color;
}

.event-date-cell.date-selected Text {
    -fx-fill: white;
}

.event-date-cell.date-already-booked Text {
    -fx-fill: #eeeeee;
}


.line-total {
    -fx-background-color: #CCCCCC;
}

.line-total Text {
    -fx-font-weight: bolder;
}
/*===== modality-frontoffice-booking-javafx@main.css from modality-event-frontoffice-activity-booking-plugin =====*/

