
/*===== webfx-kit-javafxgraphics-web@main.css from webfx-kit-javafxgraphics-peers-gwt-j2cl =====*/

:root {
    --safe-area-inset-top:    env(safe-area-inset-top);
    --safe-area-inset-right:  env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left:   env(safe-area-inset-left);
    --fx-border-color: #c0c0c0;
    --fx-border-radius: 5px;
    --fx-border-style: solid;
    --fx-border-width: 1px;
    --fx-border-color-focus: #0096D6;
    --fx-svg-path-fill: black;
}

/* Mocking some basic JavaFX behaviours */
body {
    overflow: hidden; /* Disabling browser horizontal and vertical scroll bars */
    margin: 0; /* Removing the default margin around the body */
    /* Disabling user selection by default */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Making disabled nodes semi-transparent */
.disabled {
    opacity: 50%;
}

.fx-border > fx-border {
    border-color: var(--fx-border-color);
    border-style: var(--fx-border-style);
    border-width: var(--fx-border-width);
    border-radius: var(--fx-border-radius);
}

/* Applying the default JavaFX behaviour for SVGPath */
fx-svgpath svg path:not([fill]):not([stroke]) { /* if the application code didn't set neither fill nor stroke */
    fill: var(--fx-svg-path-fill);  /* then the fill is black */
}

fx-svgpath svg path:not([fill])[stroke] { /* if the application code set the stroke but not the fill */
    --fx-svg-path-fill: transparent; /* then the fill is transparent */
    fill: var(--fx-svg-path-fill);
}

/* The default JavaFX behaviour for Text wrapping is equivalent to HTML "break-word", which is not the default in HTML
   (the default in HTML being "normal"). So we apply "break-word". */
fx-text {
    word-break: break-word;
    overflow-wrap: break-word; /* fallback for better browser support */
}
/*===== webfx-kit-javafxcontrols-web@main.css from webfx-kit-javafxcontrols-peers-gwt-j2cl =====*/

/***** Global variables *****/
:root {
    --fx-border-color-focus: #0096D6;
    --fx-textfield-background: white;
    --fx-button-background: linear-gradient(180deg, white, #e0e0e0);
    --fx-togglebutton-selected-background: linear-gradient(180deg, #f0f0f0, #d0d0d0);
}

::placeholder {
    color: #888;
}

fx-button > fx-background, fx-togglebutton > fx-background {
    background: var(--fx-button-background);
    border-radius: var(--fx-border-radius);
}

fx-togglebutton.selected > fx-background {
    background: var(--fx-togglebutton-selected-background);
}

fx-button > fx-border, fx-togglebutton > fx-border, fx-textfield > fx-border, textarea {
    border-color: var(--fx-border-color);
    border-style: var(--fx-border-style);
    border-width: var(--fx-border-width);
    border-radius: var(--fx-border-radius);
}

fx-textfield:focus-within > fx-border, textarea:focus {
    border-color: var(--fx-border-color-focus);
    outline: none !important;
}

textarea {
    padding: 8px;
    box-sizing: border-box;
}

fx-hyperlink fx-text:hover {
    text-decoration: underline;
}

fx-textfield > fx-background {
    background: var(--fx-textfield-background);
    border-radius: var(--fx-border-radius);
}

/* Removing borders, outlines and background for input elements (to not interfere with the above) */
input, input[type="text"], input[type="password"] { /* is input rule not enough? */
    border: none;
    outline: none;
    background-color: transparent;
}

/* Cross for the tab close button */
.tab-close-button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23444' stroke-width='2' stroke-linejoin='round' viewBox=\'0 0 16 16\'%3E%3Cpath d=\'M 4,4 L 12,12 Z M 4,12 L 12,4 Z\'/%3E%3C/svg%3E");
}

/* Ellipsis management for wrapped text inside a label with restricted height */

fx-label.ellipsis {
    overflow: hidden;
}

fx-label.ellipsis fx-text {
    /*text-overflow: ellipsis;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp will be set in JS by HtmlTextPeer */
}

/*===== webfx-kit-javafxweb-web@main.css from webfx-kit-javafxweb-peers-gwt-j2cl =====*/

iframe {
    border: none;
}

/*===== webfx-extras-visual-grid-web@main.css from webfx-extras-visual-grid =====*/

:root {
    --webfx-visualgrid-row-border-color: #D3D3D3;
    --webfx-visualgrid-col-border-color: #D3D3D3;
    --webfx-visualgrid-row-height: 28px;
    --webfx-visualgrid-selection-color: #AED6F1;
}

th, td {
    border: 1px solid var(--webfx-visualgrid-row-border-color);
    border-top-width: 0;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    cursor: pointer;
}

thead {
    border: none;
    height: var(--webfx-visualgrid-row-height);
    position: sticky;
    top: 1px;
    z-index: 2; /* header must be above body when scrolling */
}

thead th {
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: var(--webfx-visualgrid-col-border-color);
    height: var(--webfx-visualgrid-row-height);
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

tbody td {
    border-bottom-color: var(--webfx-visualgrid-row-border-color);
}

tbody tr {
    height: var(--webfx-visualgrid-row-height);
}

thead th, tbody td {
    padding: 0 5px 0 5px;
    max-width: 0;
    overflow: hidden;
}

th:before { /* this rule is to prevent body appearing in 1px line above header when scrolling */
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: -1px;
    border-top: 1px solid var(--webfx-visualgrid-row-border-color);
}


/***********************************
 *** Table header and row colors ***
 ***********************************/

/*** Table header gray gradient ***/

thead tr {
    background: linear-gradient( 180deg, white, lightgray 100%);
}

th, tbody, td {
    background-color: transparent;
}

.grid-col, .grid-row {
    overflow: hidden;
}

.grid-head, .grid-row {
    border-bottom: 1px solid var(--webfx-visualgrid-row-border-color);
}

.grid-col {
    border-right: 1px solid var(--webfx-visualgrid-col-border-color);
}

tr.selected, .grid-row.selected {
    background: var(--webfx-visualgrid-selection-color)
}

/*===== webfx-extras-bootstrap-web@main.css from webfx-extras-styles-bootstrap =====*/

/* Bootstrap style */
:root {
    --bootstrap-white: #fff ;

    --bootstrap-grey1: #e6e6e6 ;
    --bootstrap-grey2: #d4d4d4 ;
    --bootstrap-grey3: #ccc ;
    --bootstrap-grey4: #adadad ;
    --bootstrap-grey5: #8c8c8c ;
    --bootstrap-grey6: #777777 ;
    --bootstrap-grey7: #333 ;

    --bootstrap-blue1: #5bc0de ;
    --bootstrap-blue2: #46b8da ;
    --bootstrap-blue3: #31b0d5 ;
    --bootstrap-blue4: #269abc ;
    --bootstrap-blue5: #337ab7 ;
    --bootstrap-blue6: #2e6da4 ;
    --bootstrap-blue7: #1b6d85 ;
    --bootstrap-blue8: #286090 ;
    --bootstrap-blue9: #204d74 ;
    --bootstrap-blue10: #122b40 ;
    --bootstrap-blue11: #31708f ;

    --bootstrap-green1: #5cb85c ;
    --bootstrap-green2: #4cae4c ;
    --bootstrap-green3: #449d44 ;
    --bootstrap-green4: #398439 ;
    --bootstrap-green5: #255625 ;
    --bootstrap-green6: #3c763d ;

    --bootstrap-orange1: #f0ad4e ;
    --bootstrap-orange2: #eea236 ;
    --bootstrap-orange3: #ec971f ;
    --bootstrap-orange4: #d58512 ;
    --bootstrap-orange5: #985f0d ;
    --bootstrap-orange6: #8a6d3b ;

    --bootstrap-red1: #d9534f ;
    --bootstrap-red2: #d43f3a ;
    --bootstrap-red3: #c9302c ;
    --bootstrap-red4: #ac2925 ;
    --bootstrap-red5: #761c19 ;
    --bootstrap-red6: #a94442 ;

    --bootstrap-font-size: 14px; /* default value for buttons */
}

/* Buttons */

.btn {
    cursor: pointer;

    font-weight: normal;
    text-align: center;
    /*cursor: default;*/
    /*background-insets: 0, 0, -1, 0;*/
    /*padding: 6px 12px 6px 12px;*/ /* hardcoded for web support */
    font-size: var(--bootstrap-font-size);
    /*min-width: 80px;*/ /* hardcoded for web support */
}

.btn > fx-background {
    background: unset; /* to unset linear gradient */
    border-radius: 4px;
}

.btn > fx-border {
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.btn:hover:not(.disabled) {
    color: var(--bootstrap-grey7);
    --fx-svg-path-fill: var(--bootstrap-grey7);
}

.btn-default, .btn.default, .default .btn {
    color: var(--bootstrap-grey7);
    --fx-svg-path-fill: var(--bootstrap-grey7);
}

.btn-default > fx-background, .btn.default > fx-background, .default .btn > fx-background {
    background-color: var(--bootstrap-white);
}

.btn-default > fx-border, .btn.default > fx-border, .default .btn > fx-border {
    border-color: var(--bootstrap-grey3);
}

.btn-default:hover:not(.disabled), .btn.default:hover:not(.disabled), .default .btn:hover:not(.disabled) {
    color: var(--bootstrap-grey7);
    --fx-svg-path-fill: var(--bootstrap-grey7);
}

.btn-default:hover > fx-background, .btn.default:hover > fx-background, .default .btn:hover > fx-background {
    background-color: var(--bootstrap-grey1);
}

.btn-default:hover > fx-border, .btn.default:hover > fx-border, .default .btn:hover > fx-border {
    border-color: var(--bootstrap-grey5);
}

.btn-primary, .btn.primary, .primary .btn {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-primary > fx-background, .btn.primary > fx-background, .primary .btn > fx-background {
    background-color: var(--bootstrap-blue5);
}

.btn-primary > fx-border, .btn.primary > fx-border, .primary .btn > fx-border {
    border-color: var(--bootstrap-blue6);
}

.btn-primary:hover:not(.disabled), .btn.primary:hover:not(.disabled), .primary .btn:hover:not(.disabled) {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-primary:hover:not(.disabled) > fx-background, .btn.primary:hover:not(.disabled) > fx-background, .primary .btn:hover:not(.disabled) > fx-background {
    background-color: var(--bootstrap-blue8);
}

.btn-primary:hover:not(.disabled) > fx-border, .btn.primary:hover:not(.disabled) > fx-border, .primary .btn:hover:not(.disabled) > fx-border {
    border-color: var(--bootstrap-blue9);
}

.btn-secondary, .btn.secondary, .secondary .btn {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-secondary > fx-background, .btn.secondary > fx-background, .secondary .btn > fx-background {
    background-color: var(--bootstrap-grey4);
}

.btn-secondary > fx-border, .btn.secondary > fx-border, .secondary .btn > fx-border {
    border-color: var(--bootstrap-grey5);
}

.btn-secondary:hover:not(.disabled), .btn.secondary:hover:not(.disabled), .secondary .btn:hover:not(.disabled) {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-secondary:hover:not(.disabled)> fx-background, .btn.secondary:hover:not(.disabled)> fx-background, .secondary .btn:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-grey5);
}

.btn-secondary:hover:not(.disabled)> fx-border, .btn.secondary:hover:not(.disabled)> fx-border, .secondary .btn:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-grey6);
}

.btn-success, .btn.success, .success .btn {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-success > fx-background, .btn.success > fx-background, .success .btn > fx-background {
    background-color: var(--bootstrap-green1);
}

.btn-success > fx-border, .btn.success > fx-border, .success .btn > fx-border {
    border-color: var(--bootstrap-green2);
}

.btn-success:hover:not(.disabled), .btn.success:hover:not(.disabled), .success .btn:hover:not(.disabled) {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-success:hover:not(.disabled)> fx-background, .btn.success:hover:not(.disabled)> fx-background, .success .btn:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-green3);
}

.btn-success:hover:not(.disabled)> fx-border, .btn.success:hover:not(.disabled)> fx-border, .success .btn:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-green4);
}

.btn-info, .btn.info, .info .btn {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-info > fx-background, .btn.info > fx-background, .info .btn > fx-background {
    background-color: var(--bootstrap-blue1);
    border-color: var(--bootstrap-blue2);
}

.btn-info > fx-border, .btn.info > fx-border, .info .btn > fx-border {
    border-color: var(--bootstrap-blue2);
}

.btn-info:hover:not(.disabled), .btn.info:hover:not(.disabled), .info .btn:hover:not(.disabled) {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-info:hover:not(.disabled)> fx-background, .btn.info:hover:not(.disabled)> fx-background, .info .btn:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-blue3);
}

.btn-info:hover:not(.disabled)> fx-border, .btn.info:hover:not(.disabled)> fx-border, .info .btn:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-blue4);
}

.btn-warning, .btn.warning, .warning .btn {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-warning > fx-background, .btn.warning > fx-background, .warning .btn > fx-background {
    background-color: var(--bootstrap-orange1);
}

.btn-warning > fx-border, .btn.warning > fx-border, .warning .btn > fx-border {
    border-color: var(--bootstrap-orange2);
}

.btn-warning:hover:not(.disabled), .btn.warning:hover:not(.disabled), .warning .btn:hover:not(.disabled) {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-warning:hover:not(.disabled)> fx-background, .btn.warning:hover:not(.disabled)> fx-background, .warning .btn:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-orange3);
}

.btn-warning:hover:not(.disabled)> fx-border, .btn.warning:hover:not(.disabled)> fx-border, .warning .btn:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-orange4);
}

.btn-danger, .btn.danger, .danger .btn {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-danger > fx-background, .btn.danger > fx-background, .danger .btn > fx-background {
    background: var(--bootstrap-red1);
}

.btn-danger > fx-border, .btn.danger > fx-border, .danger .btn > fx-border {
    border-color: var(--bootstrap-red2);
}

.btn-danger:hover:not(.disabled), .btn.danger:hover:not(.disabled), .danger .btn:hover:not(.disabled) {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-danger:hover:not(.disabled)> fx-background, .btn.danger:hover:not(.disabled)> fx-background, .danger .btn:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-red3);
}

.btn-danger:hover:not(.disabled)> fx-border, .btn.danger:hover:not(.disabled)> fx-border, .danger .btn:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-red4);
}

.btn-lg, .btn.lg, .lg .btn {
    /*padding: 10px 16px 10px 16px;*/ /* hardcoded for web support */
    --bootstrap-font-size: 18px;
}

.btn-lg > fx-background, .btn-lg > fx-border, .btn.lg > fx-background, .btn.lg > fx-border, .lg .btn > fx-background, .lg .btn > fx-border {
    border-radius: 6px;
}

.btn-sm, .btn.sm, .sm .btn {
    /*padding: 5px 10px 5px 10px;*/ /* hardcoded for web support */
    --bootstrap-font-size: 12px;
}

.btn-sm > fx-background, .btn-sm > fx-border, .btn.sm > fx-background, .btn.sm > fx-border, .sm .btn > fx-background, .sm .btn > fx-border {
    border-radius: 3px;
}

.btn-xs, .btn.xs, .xs .btn {
    /*padding: 1px 5px 1px 5px;*/ /* hardcoded for web support */
    --bootstrap-font-size: 12px;
}

.btn-xs > fx-background, .btn-xs > fx-border, .btn.xs > fx-background, .btn.xs > fx-border, .xs .btn > fx-background, .xs .btn > fx-border {
    border-radius: 3px;
}

.lg .btn {
    --bootstrap-font-size: 18px;
}

.sm .btn {
    --bootstrap-font-size: 12px;
}

.xs .btn {
    --bootstrap-font-size: 12px;
}


.btn-block {
    width: 100%;
}

.b, .strong {
    font-weight: bold;
}

.i, .em, .italic, .dfn {
    font-style: italic;
}

.h1 {
    font-size: 2em;
}

.small {
    font-size: 80%;
}

.code, .kbd, .pre, .samp {
    font-family: 'monospace';
    font-size: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    /*fill: inherit;*/
}

.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    color: var(--bootstrap-grey6);
    --fx-svg-path-fill: var(--bootstrap-grey6);
}

.h1 .small, .h2 .small, .h3 .small {
    font-size: 65%;
}

.h4 .small, .h5 .small, .h6 .small {
    font-size: 75%;
}

.h1 {
    font-size: 36px;
}

.h2 {
    font-size: 30px;
}

.h3 {
    font-size: 24px;
}

.h4 {
    font-size: 18px;
}

.h5 {
    font-size: 14px;
}

.h6 {
    font-size: 12px;
}

.lead {
    font-size: 16px;
    font-weight: 300;
}

.small {
    font-size: 85%;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-justify {
    text-align: justify;
}

.txt-muted {
    color: var(--bootstrap-grey6);
    --fx-svg-path-fill: var(--bootstrap-grey6);
}

.txt-primary, .txt.primary, .primary .txt {
    color: var(--bootstrap-blue5);
    --fx-svg-path-fill: var(--bootstrap-blue5);
}

.txt-secondary, .txt.secondary, .secondary .txt {
    color: var(--bootstrap-grey5);
    --fx-svg-path-fill: var(--bootstrap-grey5);
}

.txt-success, .txt.success, .success .txt {
    color: var(--bootstrap-green6);
    --fx-svg-path-fill: var(--bootstrap-green6);
}

.txt-info, .txt.info,  .info .txt {
    color: var(--bootstrap-blue11);
    --fx-svg-path-fill: var(--bootstrap-blue11);
}

.txt-warning, .txt.warning, .warning .txt {
    color: var(--bootstrap-orange6);
    --fx-svg-path-fill: var(--bootstrap-orange6);
}

.txt-danger, .txt.danger, .danger .txt {
    color: var(--bootstrap-red6);
    --fx-svg-path-fill: var(--bootstrap-red6);
}

/*===== webfx-extras-material-web@main.css from webfx-extras-styles-materialdesign =====*/

:root {
    /* Colors shared by different Material components */
    --webfx-material-input-text-fill: #1e1e1e;
    --webfx-material-idle-text-fill: #6d6d6d;
    --webfx-material-disabled-fill: #8a8a8a;
    --webfx-material-invalid-fill: #ff1744;
    --webfx-material-focused-fill: #0596FF;

    /* CSS variables applied to specific material components with default values (will be redefined on focus, disabled & invalid) */
    --webfx-material-background-color: white;
    --webfx-material-label-fill: var(--webfx-material-idle-text-fill);
    --webfx-material-line-fill: var(--webfx-material-idle-text-fill);
    --webfx-material-line-border-style: solid;
    --webfx-material-focused-line-fill: var(--webfx-material-focused-fill);
}

/* Applying CSS variables to material components */

.material > fx-border {
    border: none;
}

.material > fx-background {
    background-color: var(--webfx-material-background-color);
    border-radius: 0;
}

.material-label {
    color: var(--webfx-material-label-fill);
}

.material-line > fx-border { /* is actually a JavaFX Region */
    /* Using a border (not background) because there is a dotted style for the disabled state */
    border-color: var(--webfx-material-line-fill);
    border-style: var(--webfx-material-line-border-style);
    border-width: 0;
    border-bottom-width: 1px;
}

.material-focused-line > fx-background { /* is actually a JavaFX Region */
    /* Using a background is enough (no need for a border) */
    background-color: var(--webfx-material-focused-line-fill);
}

/* Changing CSS variables values in dependence of material state */

.material-focused * {
    --webfx-material-label-fill: var(--webfx-material-focused-fill);
}

.material-disabled * {
    --webfx-material-label-fill: var(--webfx-material-disabled-fill);
    --webfx-material-line-fill: var(--webfx-material-disabled-fill);
    --webfx-material-line-border-style: dotted;
    --webfx-material-focused-line-fill: var(--webfx-material-disabled-fill);
}

.material-invalid * {
    --webfx-material-label-fill: var(--webfx-material-invalid-fill);
    --webfx-material-line-fill: var(--webfx-material-invalid-fill);
    --webfx-material-focused-line-fill: var(--webfx-material-invalid-fill);
}
/*===== webfx-extra-player-audio-javafxmedia-web@main.css from webfx-extras-player-audio-javafxmedia =====*/

.audio-player > fx-background {
     background-color: #838788;  /* Background color */
     border-radius: 30px;
}

.audio-player .h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    color: white;
}

/* Customizing the progress bar for podcasts */
.audio-player progress {
    border: none;
    background-color: lightgray;
    border-radius: 10px; /* Adjust the value for more or less rounding */
    overflow: hidden;/* For FireFox */
}

.audio-player progress::-webkit-progress-bar { /* For Chrome & Safari */
    background-color: lightgray;
    border-radius: 10px;
}

.audio-player progress::-webkit-progress-value { /* For Chrome & Safari */
    background-color: #0096D6;
     border-radius: 10px;
}

.audio-player progress::-moz-progress-bar { /* For FireFox */
    background-color: #0096D6;
     border-radius: 10px;
}


.audio-player .time {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 13px;
}
/*===== webfx-extras-ckeditor-web@main.css from webfx-extras-webtext-peers-gwt-j2cl =====*/

/* Hiding the warning message from CKEditor 4.22.1 */
.cke_notifications_area {
    display: none;
}
/*===== webfx-stack-password-web@main.css from webfx-stack-authn-login-ui-gateway-password-plugin =====*/

/* We don't want the default white background for WebFX Extras material text fields in the login window */
.login * {
    --webfx-material-background-color: transparent;
}
/*===== webfx-stack-authn-login-ui-portal-web@main.css from webfx-stack-authn-login-ui-portal =====*/

:root {
    --webfx-login-portal-background-image: none;
    --webfx-login-portal-title-color: #0096D6;
}

/* Montserrat password dots are tiny! So we use another font for passwords, but we don't want that font for the placeholder!
   So we apply that font only once the user started typing the password. This is done using :not([value=""]) CSS
   selector. Normally "value" refers to the initial value of the input only. However HtmlTextInputControlPeer keeps
   updating "value" to "" or "not-empty" whether the user has typed something, so this CSS rule finally works: */
input[type="password"]:not([value=""]) {
    font-family: "Password", serif;
    letter-spacing: 0.15em;
}

@font-face {
    font-family: "Password";
    src: url("./fonts/password/password.woff") format("woff");
    font-weight: 100 900;
}

.login {
    background-image: var(--webfx-login-portal-background-image); /* Specify the path to your image */
    background-repeat: no-repeat;               /* Prevents the image from repeating */
    background-size: cover;                     /* Scales the image to cover the area */
    background-position: center;                /* Centers the image */
    --fx-border-radius: 21px;
}

.login input {
     font-size: 13px;
}

.login-child {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 21px;
   /* border: 1px solid lightgray;*/
   /* box-shadow: 0px 0px 10px lightgray;*/
    width: 586px; /* Sets the fixed width */
    height: 506px; /* Sets the fixed height */
}

.login .h2 { /* Login word on top */
    font-family: 'Poppins', sans-serif; /* Sets the font to Poppins, with a fallback to sans-serif */
    font-weight: bold;
    line-height: 0.5;
    color: var(--webfx-login-portal-title-color);
}

.login .or {
    color: #888;
}

.login .line {
    background-color: lightgray;
}

.transparent-input > fx-background {
    background-color: transparent;
}

.transparent-input > fx-border {
    border-style: none;
}


/*===== modality-client-brand-web@main.css from modality-base-client-brand =====*/

:root {
    --brand-orange-color: #F6782E;
    --brand-blue-color: #0096D6;
    --brand-main-color: var(--brand-orange-color);
    --brand-main-background-color: var(--brand-orange-color);
}
/*===== modality-client-css-web@main.css from modality-base-client-css =====*/

:root {
    --montserrat-font-family: "Montserrat";
    --roboto-font-family: "Roboto";
    --poppins-font-family: "Poppins";
    --vollkorn-font-family: "Vollkorn SC";

    /* Overriding some WebFX Extras CSS variables  */
    --webfx-switch-selected-background-color: var(--brand-main-background-color);
    --webfx-visualgrid-selection-color: #BBBBBB;
}

/* Applying Montserrat as default font for Modality */
body, textarea /* because textarea has explicit default monospace font */ {
    font-family: var(--montserrat-font-family), serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

/* Not sure if it's the right place for this CSS rules */
.event-button {
    border-radius: 4px;
    height: 35px;
    max-height: 35px;
    text-align: center;
    font-weight: normal;
}

.event-button > fx-border {
    border: none;
}

/*===== modality-frontoffice-mainframe-web@main.css from modality-base-frontoffice-mainframe-activity =====*/

fx-collapsepane.menu-bar > fx-background {
    background-color: white;
}

fx-collapsepane.menu-bar > fx-border {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-radius: 0;
}

fx-collapsepane.menu-bar.lang-menu-bar > fx-border {
    border: none;
}

.menu-bar {
    font-family: var(--poppins-font-family), sans-serif;
}

.lang-menu-bar .selected fx-text {
    color: white;
}


.menu-bar fx-button {
    --fx-button-background: white; /* removes old-style button gradient */
}

.menu-bar fx-button > fx-border {
    border: none;
}

.main-menu-bar fx-button {
    color: black;
}

.main-menu-bar fx-label.brand {
    font-family: var(--roboto-font-family), sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--brand-blue-color);
    line-height: 1.2;
    --fx-svg-path-fill: var(--brand-blue-color);
}

.user-menu-bar fx-label, .user-menu-bar fx-button {
    font-size: 12px;
    color: #838788;
    --fx-svg-path-fill: #838788
}
/*===== modality-base-front-office-web@main.css from modality-base-frontoffice-application =====*/

:root {
    --webfx-visualgrid-col-border-color: transparent;
}
/*===== modality-client-bootstrap-web@main.css from modality-base-client-bootstrap =====*/

/* Bootstrap style */
:root {
    --bootstrap-white: #fff ;

    --bootstrap-grey1: #e6e6e6 ;
    --bootstrap-grey2: #d4d4d4 ;
    --bootstrap-grey3: #ccc ;
    --bootstrap-grey4: #adadad ;
    --bootstrap-grey5: #8c8c8c ;
    --bootstrap-grey6: #777777 ;
    --bootstrap-grey7: #333 ;

    --bootstrap-blue1: #5bc0de ;
    --bootstrap-blue2: #46b8da ;
    --bootstrap-blue3: #31b0d5 ;
    --bootstrap-blue4: #269abc ;
    --bootstrap-blue5: #0096D6; /* New base blue */
    --bootstrap-blue6: #0478e6;
    --bootstrap-blue7: #1b6d85 ;
    --bootstrap-blue8: #0088d6 ;
    --bootstrap-blue9: #204d74 ;
    --bootstrap-blue10: #122b40 ;
    --bootstrap-blue11: #31708f ;

    --bootstrap-green1: #5cb85c ;
    --bootstrap-green2: #4cae4c ;
    --bootstrap-green3: #449d44 ;
    --bootstrap-green4: #398439 ;
    --bootstrap-green5: #255625 ;
    --bootstrap-green6: #41BA4D ;

    --bootstrap-orange1: #f0ad4e ;
    --bootstrap-orange2: #eea236 ;
    --bootstrap-orange3: #ec971f ;
    --bootstrap-orange4: #d58512 ;
    --bootstrap-orange5: #985f0d ;
    --bootstrap-orange6: #8a6d3b ;

    --bootstrap-red1: #FF0404 ;
    --bootstrap-red2: #d43f3a ;
    --bootstrap-red3: #c9302c ;
    --bootstrap-red4: #ac2925 ;
    --bootstrap-red5: #761c19 ;
    --bootstrap-red6: #FF0404 ;
}

.disabled:hover {
    cursor: not-allowed;
 }

.btn-black {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-black > fx-background {
    background: black;
}

.btn-black > fx-border {
    border-color: black;
}

.btn-black:hover:not(.disabled){
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-black:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-grey7);
}

.btn-black:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-grey7);
}

btn-white {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-white > fx-background {
    background: white;
}

.btn-white > fx-border {
    border-color: black;
}

.btn-white:hover:not(.disabled){
    color: var(--bootstrap-black);
    --fx-svg-path-fill: var(--bootstrap-black);
}

.btn-white:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-grey1);
}

.btn-white:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-grey1);
}


/*===== modality-event-frontoffice-activities-audiorecordings-web@main.css from modality-event-frontoffice-activity-audiorecordings-plugin =====*/

.audio-library {
    font-family: "Poppins", sans-serif;
}

.list-tracks-title {
    font-weight: bold;
    font-size: 24px;
    color: #4A4748; /* Text color equivalent to -fx-text-fill */
}

.audio-library .name, .audio-library .btn {
    font-weight: 400; /* Semibold equivalent */
    font-size: 16px;
}

.audio-library .comment {
    font-weight: 300; /* Light equivalent */
    font-size: 10px;
    color: #838788; /* Text color equivalent to -fx-text-fill */
}

/*===== modality-event-frontoffice-activities-videos-web@main.css from modality-event-frontoffice-activity-videos-plugin =====*/

.livestream h3 {
     font-family: "Poppins", sans-serif;
     font-size: 24px;
     font-weight: bold;
     text-align: left; /* Aligns text */
 }

.livestream h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600; /* semi-bold */
    text-align: left; /* Aligns text */
}

.livestream .grid-head {
    font-weight: 600;
}

.livestream .small {
    font-weight: 300;
}

.livestream .text-info {
     font-weight: normal;
     color: black;
}


/** styles when we're in a desktop view **/

.livestream .grid-head {
    font-weight: 500; /* semi-bold */
    font-size: 18px;
    color: var(--brand-blue-color);
}

.livestream .grid-body .date {
    font-weight: bold;
}

.livestream .grid-body .title {
    font-weight: bold;
}

.livestream .grid-body .status, .livestream .btn {
    font-weight: bold;
}

/** styles when we're in a mobile view **/
.livestream .grid-row .date {
    font-weight: bold;
}

.livestream .grid-row .title {
    font-weight: bold;
}

.livestream .grid-row .status {
    font-weight: bold;
}

/*===== modality-event-client-recurringevents-web@main.css from modality-event-client-recurringevents =====*/

:root {
    --fx-event-description-text-color: #444;
}

.event-title {
    color: white;
    --fx-svg-path-fill: white;
}

/* .text-justified */
.event-description-text {
    color: var(--fx-event-description-text-color);
    text-align: justify;
    line-height: 1.7em;
}

/* Date cells for recurring events */

.event-date-cell > fx-border {
    border: 1px solid #cccccc;
}

.event-date-cell.date-unselected {
    color: #444;
}

.event-date-cell .event-time {
    color: #838788;
}

.event-date-cell.date-unselected > fx-background {
    background: none;
}

.event-date-cell.date-non-selectable > fx-background {
    background-color: #dddddd;
}

.event-date-cell.date-non-selectable > fx-border {
    border-color: #cccccc;
}

.event-date-cell.date-non-selectable,
.event-date-cell.date-non-selectable .event-time {
    color: #aaaaaa;
}

.event-date-cell.date-selected > fx-background,
.event-date-cell.date-already-booked > fx-background {
    background-color: var(--brand-main-color);
}

.event-date-cell.date-selected > fx-border,
.event-date-cell.date-already-booked > fx-border {
    border: none;
}

.event-date-cell.date-selected,
.event-date-cell.date-selected .event-time {
    color: white;
}

.event-date-cell.date-already-booked,
.event-date-cell.date-already-booked .event-time {
    color: #eeeeee;
}


/* .subtitle-grey */
.subtitle-grey {
    color: grey;
    font-size: 14px;
}

.line-total > fx-background {
    background-color: #CCCCCC;
}

.line-total span {
    font-weight: bolder;
}
/*===== modality-frontoffice-booking-web@main.css from modality-event-frontoffice-activity-booking-plugin =====*/

