
/*===== webfx-kit-javafxgraphics-web@main.css from webfx-kit-javafxgraphics-peers-gwt-j2cl =====*/

/* Mocking some basic JavaFX behaviours */
body {
    overflow: hidden; /* Disabling browser horizontal and vertical scroll bars */
    margin: 0; /* Removing the default margin around the body */
    /* Disabling user selection by default */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Making disabled nodes semi-transparent */
.disabled {
    opacity: 50%;
}

/* Applying the default JavaFX behaviour for SVGPath */
fx-svgpath svg path:not([fill]):not([stroke]) { /* if the application code didn't set neither fill nor stroke */
    fill: black;  /* then the fill is black */
}

fx-svgpath svg path:not([fill])[stroke] { /* if the application code set the stroke but not the fill */
    fill: transparent; /* then the fill is transparent */
}
/*===== webfx-kit-javafxcontrols-web@main.css from webfx-kit-javafxcontrols-peers-gwt-j2cl =====*/

/***** Global variables *****/
:root {
    --fx-border-color: #c0c0c0;
    --fx-border-radius: 5px;
    --fx-border-style: solid;
    --fx-border-width: 1px;
    --fx-border-color-focus: #0096D6;
    --fx-textfield-background: white;
}

::placeholder {
    color: #888;
}

fx-button > fx-background {
    background: linear-gradient(180deg, white, #e0e0e0);
    border-radius: var(--fx-border-radius);
}

fx-button > fx-border, fx-textfield > fx-border, textarea {
    border-color: var(--fx-border-color);
    border-style: var(--fx-border-style);
    border-width: var(--fx-border-width);
    border-radius: var(--fx-border-radius);
}

fx-textfield:focus-within > fx-border, textarea:focus {
    border-color: var(--fx-border-color-focus);
    outline: none !important;
}

textarea {
    padding: 8px;
    box-sizing: border-box;
}

fx-hyperlink fx-text:hover {
    text-decoration: underline;
}

fx-textfield > fx-background {
    background: var(--fx-textfield-background);
    border-radius: var(--fx-border-radius);
}

/* Removing borders, outlines and background for input elements (to not interfere with the above) */
input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    background-color: transparent;
}

/* Cross for the tab close button */
.tab-close-button {
    background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23444' stroke-width='2' stroke-linejoin='round' viewBox=\'0 0 16 16\'%3E%3Cpath d=\'M 4,4 L 12,12 Z M 4,12 L 12,4 Z\'/%3E%3C/svg%3E");
}

/*===== webfx-kit-javafxweb-web@main.css from webfx-kit-javafxweb-peers-gwt-j2cl =====*/

iframe {
    border: none;
}

/*===== webfx-extras-material-web@main.css from webfx-extras-materialdesign =====*/


fx-textfield.material > fx-border {
    border: none;
}

fx-textfield.material > fx-background {
    background: none;
}
/*===== webfx-extras-visual-grid-web@main.css from webfx-extras-visual-grid-peers-gwt-j2cl =====*/

:root {
    --grid-border-color: #D3D3D3;
    --grid-row-height: 28px;
    --grid-selection-color: #AED6F1;
}

th, td {
    border: 1px solid var(--grid-border-color);
    border-top-width: 0;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    cursor: pointer;
}

thead {
    border: none;
    height: var(--grid-row-height);
    position: sticky;
    top: 1px;
    z-index: 2; /* header must be above body when scrolling */
}

thead th {
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: var(--grid-border-color);
    height: var(--grid-row-height);
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

tbody td {
    border-bottom-color: var(--grid-border-color);
}

tbody tr {
    height: var(--grid-row-height);
}

thead th, tbody td {
    padding: 0 5px 0 5px;
    max-width: 0;
    overflow: hidden;
}

th:before { /* this rule is to prevent body appearing in 1px line above header when scrolling */
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: -1px;
    border-top: 1px solid var(--grid-border-color);
}


/***********************************
 *** Table header and row colors ***
 ***********************************/

/*** Table header gray gradient ***/

thead tr {
    background: linear-gradient( 180deg, white, lightgray 100%);
}

th, tbody, td {
    background-color: transparent;
}

.grid-head, .grid-body, .grid-col, .grid-row {
    overflow: hidden;
}

.grid-head, .grid-row {
    border-bottom: 1px solid var(--grid-border-color);
}

.grid-col {
    border-right: 1px solid var(--grid-border-color);
}

tr.selected, .grid-row.selected {
    background: var(--grid-selection-color)
}

/*===== ckeditor-web@main.css from webfx-extras-webtext-peers-gwt-j2cl =====*/

/* Hiding the warning message from CKEditor 4.22.1 */
.cke_notifications_area {
    display: none;
}
/*===== web@main.css from modality-base-client-css =====*/

:root {
    --webfx-switch-selected-background-color: #0096D6;
    --green-color: #41BA4D;
    --green-color-hover: #38a143;
    --blue-color: #0096D6;
    --blue-color-hover: #0082ba;
    --grey-color: #838788;
    --grey-color-hover: #717475;
    --red-color: red;
    --red-color-hover: #de0000;
    --orange-color: #EE7130;
}

.event-button {
    border-radius: 4px;
    height: 35px;
    max-height: 35px;
    text-align: center;
    font-weight: normal;
}

.event-button > fx-border {
    border: none;
}

.primary-button {
    color: white;
}

.primary-button > fx-background {
    background: var(--blue-color);
}

.primary-button.disabled > fx-background, .primary-button.disabled:hover > fx-background {
    background: var(--blue-color);
}

.primary-button:hover > fx-background {
    background: var(--blue-color-hover);
}

.danger-button {
  color: white;
}

.danger-button > fx-background {
    background: var(--red-color);
}

.danger-button:hover > fx-background {
    background: var(--red-color-hover);
}

.success-button {
    color: white;
}

.success-button > fx-background {
    background: var(--green-color);
}

.success-button:hover > fx-background   {
    background: var(--green-color-hover);
}

.secondary-button {
    color: white;
}

.secondary-button > fx-background {
    background: var(--grey-color);
}

.secondary-button:hover > fx-background {
    background: var(--grey-color-hover);
}

.secondary-text {
    color: var(--grey-color);
}

.warning-text {
    color: var(--orange-color);
}

.danger-text {
    color: var(--red-color);
}

.success-text {
    color: var(--green-color);
}

.title {
    font-size: 35px;
}

.subtitle {
    font-size: 22px;
}

.title3 {
    font-size: 16px;
}

.confirmation-title {
    font-size: 22px;
    color: var(--green-color);
    font-weight: bold;
}

.small-text {
    font-size: 9px;
}

.table-row-cell:selected > fx-background {
    background: #BBBBBB;
}

.webfx-dates-picker-selected > fx-background {
    background-color: #afe7ff;
    border-radius: 10px;
}

.webfx-dates-picker-secondary > fx-background {
    background-color: #cccccc;
    border-radius: 10px;
}

.webfx-dates-picker-arrow {
    fill: var(--blue-color);
    border-radius: 10px;
}

.webfx-dates-picker-month {
    color: var(--blue-color);
    font-size: 14px;
}
/*===== modality-client-login-web@main.css from modality-crm-client-activity-login-plugin =====*/

.login * {
    font-size: 18px; /* doesn't work yet (because of hardcoded style in app code) */
}

.login fx-button { /* doesn't work yet (because of hardcoded style in app code) */
    background: #0096D6FF;
    border: none;
    border-radius: 10px;
}

.login fx-button .text {
    color: white; /* doesn't work yet (because of hardcoded style in app code) */
    /*padding: 15px; JavaFX padding already applied in app code for now */
}

/* Montserrat password dots are tiny! So we use another font for passwords, but we don't want that font for the placeholder!
   So we apply that font only once the user started typing the password. This is done using :not([value=""]) CSS
   selector. Normally "value" refers to the initial value of the input only. However HtmlTextInputControlPeer keeps
   updating "value" to "" or "not-empty" whether the user has typed something, so this CSS rule finally works: */
input[type="password"]:not([value=""]) {
    font-family: "Password", serif;
    letter-spacing: 0.15em;
}

@font-face {
    font-family: "Password";
    src: url("./fonts/password/password.woff") format("woff");
    font-weight: 100 900;
}

/*===== modality-client-web@main.css from modality-base-client-application =====*/

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-VF.woff2") format("woff2");
    font-weight: 100 900;
}

/* Applying Montserrat as default font for Modality */
body, textarea /* because textarea has explicit default monospace font */ {
    font-family: Montserrat, serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}


/*===== modality-frontoffice-mainframe-web@main.css from modality-base-frontoffice-mainframe-activity =====*/

/* We dont want border for the buttons in the front-office button bar */

.button-bar fx-button > fx-border {
    border: none;
}
/*===== modality-frontoffice-booking-web@main.css from modality-event-frontoffice-activity-booking-plugin =====*/

/* .text-justified */
.description-text {
    text-align: justify;
    line-height: 1.5em;
}

/* .eventTime */
.eventTime {
    font-size: 10px;
}

/* .subtitle-grey */
.subtitle-grey {
    color: grey;
    font-size: 14px;
}

.book-event-primary-title {
    font-weight: bolder;
    color: #0096D6;
    font-size: 14px;
}

/* .date-selected */
.date-selected  {
    color: white;
}

.date-selected > fx-background, .date-already-booked > fx-background {
    background-color: #0096D6;
}

.date-non-selectable > fx-background {
    background-color: #AAAAAA;
}

.date-past-not-selected > fx-background {
     background-color: grey;
}

/* .date-unselected */
.date-unselected {
    color: black;
    background-color: inherit;
}

.checkout-address {
    color: #BBBBBB;
}

.checkout-address svg {
    fill: #BBBBBB;
}

.line-total > fx-background {
    background-color: #CCCCCC;
}

.line-total span {
    font-weight: bolder;
}