
/*===== javafx-controls-web@main.css from webfx-kit-javafxcontrols-peers-gwt-j2cl =====*/

/***** Global variables *****/
:root {
    --fx-border-color: #c0c0c0;
    --fx-border-radius: 5px;
    --fx-border-style: solid;
    --fx-border-width: 1px;
    --fx-border-color-focus: #0096D6;
    --fx-textfield-background: white;
}

::placeholder {
    color: #888;
}

fx-button > fx-background {
    background: linear-gradient(180deg, white, #e0e0e0);
    border-radius: var(--fx-border-radius);
}

fx-button > fx-border, fx-textfield > fx-border, textarea {
    border-color: var(--fx-border-color);
    border-style: var(--fx-border-style);
    border-width: var(--fx-border-width);
    border-radius: var(--fx-border-radius);
}

fx-textfield:focus-within > fx-border, textarea:focus {
    border-color: var(--fx-border-color-focus);
    outline: none !important;
}

textarea {
    padding: 8px;
    box-sizing: border-box;
}

fx-hyperlink fx-text:hover {
    text-decoration: underline;
}

fx-textfield > fx-background {
    background: var(--fx-textfield-background);
    border-radius: var(--fx-border-radius);
}

/* Removing borders, outlines and background for input elements (to not interfere with the above) */
input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    background-color: transparent;
}

/*===== visual-grid-web@main.css from webfx-extras-visual-grid-peers-gwt-j2cl =====*/

:root {
    --grid-border-color: #D3D3D3;
    --grid-row-height: 28px;
    --grid-selection-color: #AED6F1;
}

th, td {
    border: 1px solid var(--grid-border-color);
    border-top-width: 0;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    cursor: pointer;
}

thead {
    border: none;
    height: var(--grid-row-height);
    position: sticky;
    top: 1px;
    z-index: 2; /* header must be above body when scrolling */
}

thead th {
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: var(--grid-border-color);
    height: var(--grid-row-height);
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

tbody td {
    border-bottom-color: var(--grid-border-color);
}

tbody tr {
    height: var(--grid-row-height);
}

thead th, tbody td {
    padding: 0 5px 0 5px;
    max-width: 0;
    overflow: hidden;
}

th:before { /* this rule is to prevent body appearing in 1px line above header when scrolling */
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: -1px;
    border-top: 1px solid var(--grid-border-color);
}


/***********************************
 *** Table header and row colors ***
 ***********************************/

/*** Table header gray gradient ***/

thead tr {
    background: linear-gradient( 180deg, white, lightgray 100%);
}

th, tbody, td {
    background-color: transparent;
}

.grid-head, .grid-body, .grid-col, .grid-row {
    overflow: hidden;
}

.grid-head, .grid-row {
    border-bottom: 1px solid var(--grid-border-color);
}

.grid-col {
    border-right: 1px solid var(--grid-border-color);
}

tr.selected, .grid-row.selected {
    background: var(--grid-selection-color)
}

/*===== javafx-graphics-web@main.css from webfx-kit-javafxgraphics-peers-gwt-j2cl =====*/

.disabled fx-text {
    color: gray;
}
/*===== web@main.css from modality-event-frontoffice-activity-booking-plugin =====*/

/* .title-blue-bold */
.title-blue-bold {
    font-weight: bolder;
    color: #0096D6;
    fill: #0096D6;
    font-size: 16px;
}

/* .text-justified */
.description-text {
    text-align: justify;
    line-height: 1.5em;
}

/* .eventTime */
.eventTime {
    font-size: 10px;
}

/* .subtitle-grey */
.subtitle-grey {
    color: grey;
    font-size: 14px;
}

/* .subtitle-blue */
.subtitle-blue {
    font-weight: bolder;
    color: #0096D6;
    font-size: 14px;
}

/* .date-selected */
.date-selected {
    background-color: #0096D6;
}

.date-selected  {
    color: white;
}

/* .date-unselected */
.date-unselected {
    background-color: none;
}

.date-unselected {
    color: black;
}

/* .green-button */
.green-button {
    border-radius: 2px;
    height: 30px;
    max-height: 30px;
    width: 150px;
    font-weight: bolder;
    text-align: center;
    color: #FFFFFF;
}

.green-button > fx-background {
    background: #41BA4D;
}

/*===== frontoffice-mainframe-web@main.css from modality-base-frontoffice-mainframe-activity =====*/

/* We dont want border for the buttons in the front-office button bar */

.button-bar fx-button > fx-border {
    border: none;
}
/*===== modality-web@main.css from modality-base-client-application =====*/

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-VF.woff2") format("woff2");
    font-weight: 100 900;
}

/* Applying Montserrat as default font for Modality */
body {
    font-family: Montserrat, serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}


/*===== material-web@main.css from webfx-extras-materialdesign =====*/


fx-textfield.material > fx-border {
    border: none;
}

fx-textfield.material > fx-background {
    background: none;
}
/*===== modality-login-web@main.css from modality-crm-client-activity-login-plugin =====*/

.login * {
    font-size: 18px; /* doesn't work yet (because of hardcoded style in app code) */
}

.login fx-button { /* doesn't work yet (because of hardcoded style in app code) */
    background: #0096D6FF;
    border: none;
    border-radius: 10px;
}

.login fx-button .text {
    color: white; /* doesn't work yet (because of hardcoded style in app code) */
    /*padding: 15px; JavaFX padding already applied in app code for now */
}

/* Montserrat password dots are tiny! So we use another font for passwords, but we don't want that font for the placeholder!
   So we apply that font only once the user started typing the password. This is done using :not([value=""]) CSS
   selector. Normally "value" refers to the initial value of the input only. However HtmlTextInputControlPeer keeps
   updating "value" to "" or "not-empty" whether the user has typed something, so this CSS rule finally works: */
input[type="password"]:not([value=""]) {
    font-family: "Password", serif;
    letter-spacing: 0.15em;
}

@font-face {
    font-family: "Password";
    src: url("./fonts/password/password.woff") format("woff");
    font-weight: 100 900;
}
