
/*===== webfx-kit-javafxgraphics-web@main.css from webfx-kit-javafxgraphics-peers-gwt-j2cl =====*/

:root {
    --safe-area-inset-top:    env(safe-area-inset-top);
    --safe-area-inset-right:  env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left:   env(safe-area-inset-left);
    --fx-border-color: #c0c0c0;
    --fx-border-radius: 5px;
    --fx-border-style: solid;
    --fx-border-width: 1px;
    --fx-border-color-focus: #0096D6;
    --fx-svg-path-fill: black;
}

/* Mocking some basic JavaFX behaviours */
body {
    overflow: hidden; /* Disabling browser horizontal and vertical scroll bars */
    margin: 0; /* Removing the default margin around the body */
    /* Disabling user selection by default */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Making disabled nodes semi-transparent */
.disabled {
    opacity: 50%;
}

.fx-border > fx-border {
    border-color: var(--fx-border-color);
    border-style: var(--fx-border-style);
    border-width: var(--fx-border-width);
    border-radius: var(--fx-border-radius);
}

/* Applying the default JavaFX behaviour for SVGPath */
fx-svgpath svg path:not([fill]):not([stroke]) { /* if the application code didn't set neither fill nor stroke */
    fill: var(--fx-svg-path-fill);  /* then the fill is black */
}

fx-svgpath svg path:not([fill])[stroke] { /* if the application code set the stroke but not the fill */
    --fx-svg-path-fill: transparent; /* then the fill is transparent */
    fill: var(--fx-svg-path-fill);
}
/*===== webfx-kit-javafxcontrols-web@main.css from webfx-kit-javafxcontrols-peers-gwt-j2cl =====*/

/***** Global variables *****/
:root {
    --fx-border-color-focus: #0096D6;
    --fx-textfield-background: white;
    --fx-button-background: linear-gradient(180deg, white, #e0e0e0);
}

::placeholder {
    color: #888;
}

fx-button > fx-background {
    background: var(--fx-button-background);
    border-radius: var(--fx-border-radius);
}

fx-button > fx-border, fx-textfield > fx-border, textarea {
    border-color: var(--fx-border-color);
    border-style: var(--fx-border-style);
    border-width: var(--fx-border-width);
    border-radius: var(--fx-border-radius);
}

fx-textfield:focus-within > fx-border, textarea:focus {
    border-color: var(--fx-border-color-focus);
    outline: none !important;
}

textarea {
    padding: 8px;
    box-sizing: border-box;
}

fx-hyperlink fx-text:hover {
    text-decoration: underline;
}

fx-textfield > fx-background {
    background: var(--fx-textfield-background);
    border-radius: var(--fx-border-radius);
}

/* Removing borders, outlines and background for input elements (to not interfere with the above) */
input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    background-color: transparent;
}

/* Cross for the tab close button */
.tab-close-button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23444' stroke-width='2' stroke-linejoin='round' viewBox=\'0 0 16 16\'%3E%3Cpath d=\'M 4,4 L 12,12 Z M 4,12 L 12,4 Z\'/%3E%3C/svg%3E");
}

/*===== webfx-kit-javafxweb-web@main.css from webfx-kit-javafxweb-peers-gwt-j2cl =====*/

iframe {
    border: none;
}

/*===== webfx-extras-bootstrap-web@main.css from webfx-extras-styles-bootstrap =====*/

/* Bootstrap style */
:root {
    --bootstrap-white: #fff ;

    --bootstrap-grey1: #e6e6e6 ;
    --bootstrap-grey2: #d4d4d4 ;
    --bootstrap-grey3: #ccc ;
    --bootstrap-grey4: #adadad ;
    --bootstrap-grey5: #8c8c8c ;
    --bootstrap-grey6: #777777 ;
    --bootstrap-grey7: #333 ;

    --bootstrap-blue1: #5bc0de ;
    --bootstrap-blue2: #46b8da ;
    --bootstrap-blue3: #31b0d5 ;
    --bootstrap-blue4: #269abc ;
    --bootstrap-blue5: #337ab7 ;
    --bootstrap-blue6: #2e6da4 ;
    --bootstrap-blue7: #1b6d85 ;
    --bootstrap-blue8: #286090 ;
    --bootstrap-blue9: #204d74 ;
    --bootstrap-blue10: #122b40 ;
    --bootstrap-blue11: #31708f ;

    --bootstrap-green1: #5cb85c ;
    --bootstrap-green2: #4cae4c ;
    --bootstrap-green3: #449d44 ;
    --bootstrap-green4: #398439 ;
    --bootstrap-green5: #255625 ;
    --bootstrap-green6: #3c763d ;

    --bootstrap-orange1: #f0ad4e ;
    --bootstrap-orange2: #eea236 ;
    --bootstrap-orange3: #ec971f ;
    --bootstrap-orange4: #d58512 ;
    --bootstrap-orange5: #985f0d ;
    --bootstrap-orange6: #8a6d3b ;

    --bootstrap-red1: #d9534f ;
    --bootstrap-red2: #d43f3a ;
    --bootstrap-red3: #c9302c ;
    --bootstrap-red4: #ac2925 ;
    --bootstrap-red5: #761c19 ;
    --bootstrap-red6: #a94442 ;
}

/* Buttons */

.btn {
    cursor: pointer;

    font-weight: normal;
    text-align: center;
    /*cursor: default;*/
    /*background-insets: 0, 0, -1, 0;*/
    /*padding: 6px 12px 6px 12px;*/
    font-size: 14px;
    min-width: 80px;
}

.btn > fx-background {
    background: unset; /* to unset linear gradient */
    border-radius: 4px;
}

.btn > fx-border {
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.btn:hover:not(.disabled) {
    color: var(--bootstrap-grey7);
    --fx-svg-path-fill: var(--bootstrap-grey7);
}

.btn-default {
    color: var(--bootstrap-grey7);
    --fx-svg-path-fill: var(--bootstrap-grey7);
}

.btn-default > fx-background {
    background-color: var(--bootstrap-white);
}

.btn-default > fx-border {
    border-color: var(--bootstrap-grey3);
}

.btn-default:hover:not(.disabled) {
    color: var(--bootstrap-grey7);
    --fx-svg-path-fill: var(--bootstrap-grey7);
}

.btn-default:hover > fx-background {
    background-color: var(--bootstrap-grey1);
}

.btn-default:hover > fx-border {
    border-color: var(--bootstrap-grey5);
}

.btn-primary {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-primary > fx-background {
    background-color: var(--bootstrap-blue5);
}

.btn-primary > fx-border {
    border-color: var(--bootstrap-blue6);
}

.btn-primary:hover:not(.disabled) {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-primary:hover:not(.disabled) > fx-background {
    background-color: var(--bootstrap-blue8);
}

.btn-primary:hover:not(.disabled) > fx-border {
    border-color: var(--bootstrap-blue9);
}

.btn-secondary {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-secondary > fx-background {
    background-color: var(--bootstrap-grey4);
}

.btn-secondary > fx-border {
    border-color: var(--bootstrap-grey5);
}

.btn-secondary:hover:not(.disabled){
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-secondary:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-grey5);
}

.btn-secondary:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-grey6);
}

.btn-success {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-success > fx-background {
    background-color: var(--bootstrap-green1);
}

.btn-success > fx-border {
    border-color: var(--bootstrap-green2);
}

.btn-success:hover:not(.disabled){
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-success:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-green3);
}

.btn-success:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-green4);
}

.btn-info {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-info > fx-background {
    background-color: var(--bootstrap-blue1);
    border-color: var(--bootstrap-blue2);
}

.btn-info > fx-border {
    border-color: var(--bootstrap-blue2);
}

.btn-info:hover:not(.disabled){
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-info:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-blue3);
}

.btn-info:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-blue4);
}

.btn-warning {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-warning > fx-background {
    background-color: var(--bootstrap-orange1);
}

.btn-warning > fx-border {
    border-color: var(--bootstrap-orange2);
}

.btn-warning:hover:not(.disabled){
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-warning:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-orange3);
}

.btn-warning:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-orange4);
}

.btn-danger {
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-danger > fx-background {
    background: var(--bootstrap-red1);
}

.btn-danger > fx-border {
    border-color: var(--bootstrap-red2);
}

.btn-danger:hover:not(.disabled){
    color: var(--bootstrap-white);
    --fx-svg-path-fill: var(--bootstrap-white);
}

.btn-danger:hover:not(.disabled)> fx-background {
    background-color: var(--bootstrap-red3);
}

.btn-danger:hover:not(.disabled)> fx-border {
    border-color: var(--bootstrap-red4);
}

.btn-lg {
    /*padding: 10px 16px 10px 16px;*/
    font-size: 18px;
}

.btn-lg > fx-background, .btn-lg > fx-border {
    border-radius: 6px;
}

.btn-sm {
    /*padding: 5px 10px 5px 10px;*/
    font-size: 12px;
}

.btn-sm > fx-background, .btn-sm > fx-border {
    border-radius: 3px;
}

.btn-xs {
    /*padding: 1px 5px 1px 5px;*/
    font-size: 12px;
}

.btn-xs > fx-background, .btn-xs > fx-border {
    border-radius: 3px;
}

.btn-block {
    width: 100%;
}

.b, .strong {
    font-weight: bold;
}

.i, .em, .italic, .dfn {
    font-style: italic;
}

.h1 {
    font-size: 2em;
}

.small {
    font-size: 80%;
}

.code, .kbd, .pre, .samp {
    font-family: 'monospace';
    font-size: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    /*fill: inherit;*/
}

.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    color: var(--bootstrap-grey6);
    --fx-svg-path-fill: var(--bootstrap-grey6);
}

.h1 .small, .h2 .small, .h3 .small {
    font-size: 65%;
}

.h4 .small, .h5 .small, .h6 .small {
    font-size: 75%;
}

.h1 {
    font-size: 36px;
}

.h2 {
    font-size: 30px;
}

.h3 {
    font-size: 24px;
}

.h4 {
    font-size: 18px;
}

.h5 {
    font-size: 14px;
}

.h6 {
    font-size: 12px;
}

.lead {
    font-size: 16px;
    font-weight: 300;
}

.small {
    font-size: 85%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-muted {
    color: var(--bootstrap-grey6);
    --fx-svg-path-fill: var(--bootstrap-grey6);
}

.text-primary {
    color: var(--bootstrap-blue5);
    --fx-svg-path-fill: var(--bootstrap-blue5);
}

.text-secondary {
    color: var(--bootstrap-grey5);
    --fx-svg-path-fill: var(--bootstrap-grey5);
}

.text-success {
    color: var(--bootstrap-green6);
    --fx-svg-path-fill: var(--bootstrap-green6);
}

.text-info {
    color: var(--bootstrap-blue11);
    --fx-svg-path-fill: var(--bootstrap-blue11);
}

.text-warning {
    color: var(--bootstrap-orange6);
    --fx-svg-path-fill: var(--bootstrap-orange6);
}

.text-danger {
    color: var(--bootstrap-red6);
    --fx-svg-path-fill: var(--bootstrap-red6);
}

/*===== webfx-extras-material-web@main.css from webfx-extras-styles-materialdesign =====*/


fx-textfield.material > fx-border {
    border: none;
}

fx-textfield.material > fx-background {
    background: none;
}
/*===== webfx-extras-visual-grid-web@main.css from webfx-extras-visual-grid-peers-gwt-j2cl =====*/

:root {
    --webfx-visualgrid-border-color: #D3D3D3;
    --webfx-visualgrid-row-height: 28px;
    --webfx-visualgrid-selection-color: #AED6F1;
}

th, td {
    border: 1px solid var(--webfx-visualgrid-border-color);
    border-top-width: 0;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    cursor: pointer;
}

thead {
    border: none;
    height: var(--webfx-visualgrid-row-height);
    position: sticky;
    top: 1px;
    z-index: 2; /* header must be above body when scrolling */
}

thead th {
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: var(--webfx-visualgrid-border-color);
    height: var(--webfx-visualgrid-row-height);
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

tbody td {
    border-bottom-color: var(--webfx-visualgrid-border-color);
}

tbody tr {
    height: var(--webfx-visualgrid-row-height);
}

thead th, tbody td {
    padding: 0 5px 0 5px;
    max-width: 0;
    overflow: hidden;
}

th:before { /* this rule is to prevent body appearing in 1px line above header when scrolling */
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: -1px;
    border-top: 1px solid var(--webfx-visualgrid-border-color);
}


/***********************************
 *** Table header and row colors ***
 ***********************************/

/*** Table header gray gradient ***/

thead tr {
    background: linear-gradient( 180deg, white, lightgray 100%);
}

th, tbody, td {
    background-color: transparent;
}

.grid-head, .grid-body, .grid-col, .grid-row {
    overflow: hidden;
}

.grid-head, .grid-row {
    border-bottom: 1px solid var(--webfx-visualgrid-border-color);
}

.grid-col {
    border-right: 1px solid var(--webfx-visualgrid-border-color);
}

tr.selected, .grid-row.selected {
    background: var(--webfx-visualgrid-selection-color)
}

/*===== webfx-extras-ckeditor-web@main.css from webfx-extras-webtext-peers-gwt-j2cl =====*/

/* Hiding the warning message from CKEditor 4.22.1 */
.cke_notifications_area {
    display: none;
}
/*===== webfx-stack-authn-login-ui-portal-web@main.css from webfx-stack-authn-login-ui-portal =====*/

:root {
    --webfx-login-portal-background-image: none;
}

/* Montserrat password dots are tiny! So we use another font for passwords, but we don't want that font for the placeholder!
   So we apply that font only once the user started typing the password. This is done using :not([value=""]) CSS
   selector. Normally "value" refers to the initial value of the input only. However HtmlTextInputControlPeer keeps
   updating "value" to "" or "not-empty" whether the user has typed something, so this CSS rule finally works: */
input[type="password"]:not([value=""]) {
    font-family: "Password", serif;
    letter-spacing: 0.15em;
}

@font-face {
    font-family: "Password";
    src: url("./fonts/password/password.woff") format("woff");
    font-weight: 100 900;
}

.login {
    background-image: var(--webfx-login-portal-background-image); /* Specify the path to your image */
    background-repeat: no-repeat;               /* Prevents the image from repeating */
    background-size: cover;                     /* Scales the image to cover the area */
    background-position: center;                /* Centers the image */
    --fx-border-radius: 21px;
}

.login input {
     font-size: 20px;
       }

.login-child {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 21px;
   /* border: 1px solid lightgray;*/
   /* box-shadow: 0px 0px 10px lightgray;*/
    width: 586px; /* Sets the fixed width */
    height: 506px; /* Sets the fixed height */
}

.login .h2 {
    font-family: 'Poppins', sans-serif; /* Sets the font to Poppins, with a fallback to sans-serif */
}

.login .or {
    color: #888;
}

.login .line {
    background-color: lightgray;
}

.transparent-input > fx-background{
    background-color: transparent;
}

.transparent-input > fx-border{
    border-style: none;
}


/*===== modality-client-web@main.css from modality-base-client-css =====*/

:root {
    --webfx-switch-selected-background-color: #0096D6;
    --webfx-visualgrid-selection-color: #BBBBBB;
}

.event-button {
    border-radius: 4px;
    height: 35px;
    max-height: 35px;
    text-align: center;
    font-weight: normal;
}

.event-button > fx-border {
    border: none;
}

/*===== modality-client-web@main.css from modality-base-client-application =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-VF.woff2") format("woff2");
    font-weight: 100 900;
}

/* Applying Montserrat as default font for Modality */
body, textarea /* because textarea has explicit default monospace font */ {
    font-family: Montserrat, serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}


/*===== modality-frontoffice-mainframe-web@main.css from modality-base-frontoffice-mainframe-activity =====*/

fx-collapsepane.menu-bar > fx-background {
    background-color: white;
}

fx-collapsepane.menu-bar > fx-border {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-radius: 0;
}

.menu-bar {
    font-family: "Poppins", sans-serif;
}

.menu-bar fx-button {
    --fx-button-background: white; /* removes old-style button gradient */
}

.menu-bar fx-button > fx-border {
    border: none;
}

.main-menu-bar fx-button {
    color: black;
}

.main-menu-bar fx-label.brand {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #0096D6;
    white-space: pre-line;
    line-height: 1.2;
}

.user-menu-bar fx-label, .user-menu-bar fx-button {
    font-size: 12px;
    color: #838788;
    --fx-svg-path-fill: #838788
}
/*===== modality-event-client-recurringevents-web@main.css from modality-event-client-recurringevents =====*/

* {
    --fx-event-description-text-color: #444;
}

.event-title {
    color: white;
    --fx-svg-path-fill: white;
}

/* .text-justified */
.event-description-text {
    color: var(--fx-event-description-text-color);
    text-align: justify;
    line-height: 1.7em;
}

/* Date cells for recurring events */

.event-date-cell > fx-border {
    border: 1px solid #cccccc;
}

.event-date-cell.date-unselected {
    color: #444;
}

.event-date-cell .event-time {
    color: #838788;
}

.event-date-cell.date-unselected > fx-background {
    background: none;
}

.event-date-cell.date-non-selectable > fx-background {
    background-color: #dddddd;
}

.event-date-cell.date-non-selectable > fx-border {
    border-color: #cccccc;
}

.event-date-cell.date-non-selectable,
.event-date-cell.date-non-selectable .event-time {
    color: #aaaaaa;
}

.event-date-cell.date-selected > fx-background,
.event-date-cell.date-already-booked > fx-background {
    background-color: #F5761A;
}

.event-date-cell.date-selected > fx-border,
.event-date-cell.date-already-booked > fx-border {
    border: none;
}

.event-date-cell.date-selected,
.event-date-cell.date-selected .event-time {
    color: white;
}

.event-date-cell.date-already-booked,
.event-date-cell.date-already-booked .event-time {
    color: #eeeeee;
}


/* .subtitle-grey */
.subtitle-grey {
    color: grey;
    font-size: 14px;
}

.line-total > fx-background {
    background-color: #CCCCCC;
}

.line-total span {
    font-weight: bolder;
}
/*===== modality-frontoffice-booking-web@main.css from modality-event-frontoffice-activity-booking-plugin =====*/

