
/*===== javafx-controls-web@main.css from webfx-kit-javafxcontrols-peers-gwt-j2cl =====*/

/***** Global variables *****/
:root {
    --fx-border-color: #c0c0c0;
    --fx-border-radius: 5px;
    --fx-border-style: solid;
    --fx-border-width: 1px;
    --fx-border-color-focus: #0096D6;
    --fx-textfield-background: white;
}

::placeholder {
    color: #888;
}

fx-button > fx-background {
    background: linear-gradient(180deg, white, #e0e0e0);
    border-radius: var(--fx-border-radius);
}

fx-button > fx-border, fx-textfield > fx-border, textarea {
    border-color: var(--fx-border-color);
    border-style: var(--fx-border-style);
    border-width: var(--fx-border-width);
    border-radius: var(--fx-border-radius);
}

fx-textfield:focus-within > fx-border, textarea:focus {
    border-color: var(--fx-border-color-focus);
    outline: none !important;
}

textarea {
    padding: 8px;
    box-sizing: border-box;
}

fx-hyperlink fx-text:hover {
    text-decoration: underline;
}

fx-textfield > fx-background {
    background: var(--fx-textfield-background);
    border-radius: var(--fx-border-radius);
}

/* Removing borders, outlines and background for input elements (to not interfere with the above) */
input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    background-color: transparent;
}

.disabled fx-text {
    color: gray;
}
/*===== visual-grid-web@main.css from webfx-extras-visual-grid-peers-gwt-j2cl =====*/

:root {
    --grid-border-color: #D3D3D3;
    --grid-row-height: 28px;
}

table, th, td {
    border: 1px solid var(--grid-border-color);
}

table {
    border-collapse: collapse;
    cursor: pointer;
}

thead {
    border-top-style: solid;
    border-top-color: var(--grid-border-color);
    border-top-width: thin;
    height: var(--grid-row-height);
}

thead td {
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: var(--grid-border-color);
    height: var(--grid-row-height);
    font-weight: bold;
    text-align: center;
}

tbody td {
    border-bottom-color: var(--grid-border-color);
}

tbody tr {
    height: var(--grid-row-height);
}

thead td, tbody td {
    padding: 0 5px 0 5px;
    overflow: hidden;
    max-width: 0;
}

/***********************************
 *** Table header and row colors ***
 ***********************************/

/*** Table header gray gradient ***/

thead tr {
    background: linear-gradient( 180deg, white, lightgray 100%);
}

th {
    background: transparent;
}

td {
    background: transparent;
}

tbody {
    background-color: transparent;
}

.grid-head, .grid-body, .grid-col, .grid-row {
    overflow: hidden;
}

.grid-head, .grid-row {
    border-bottom: 1px solid var(--grid-border-color);
}

.grid-col {
    border-right: 1px solid var(--grid-border-color);
}
/*===== filepicker-web@main.css from webfx-extras-filepicker-gwt-j2cl =====*/

/* We dont want any background or border for the FilePicker button */

.file-picker fx-button > fx-background {
    background: none;
}

.file-picker fx-button > fx-border {
    border: none;
}

/*===== bookings-web@main.css from modality-ecommerce-backoffice-activity-bookings-plugin =====*/

/***** Declaring table row color variables with default values *****/
:root {
    --color-light: white;
    --color-dark: white;
    --stay-color: transparent;
    --selection-color: rgba(137, 169, 210, 0.5);
}

/***** Bookings colors *****/
.abandoned          { --color-light: #e3d2d2; --color-dark: #cab8b8; }
.absent             { --color-light: #ff8d8d; --color-dark: #e57373; }
.cancelled          { --color-light: #e3a9d3; --color-dark: #ca90b9; }
.arrived            { --color-light: #21f016; --color-dark: #0bd700; }
.arrivedWithBalance { --color-light: #17b6f0; --color-dark: #019ed7; }
.flagged            { --color-light: #ff941a; --color-dark: #e57a00; }
.changed            { --color-light: #b1b1ff; --color-dark: #9797e5; }
.passReady          { --color-light: #6bcfd2; --color-dark: #54b5b8; }
.confirmed          { --color-light: #b1b1ff; --color-dark: #9797e5; }
.paidInFull         { --color-light: #d5ff1a; --color-dark: #bbe500; }
.overPaid           { --color-light: #ffa366; --color-dark: #e58a4d; }
.noDeposit          { --color-light: #FFFFFF; --color-dark: #FFFFFF; }
.willPay            { --color-light: #e5e5e5; --color-dark: #cacaca; }
.paidUnderMinimal   { --color-light: #d7c26d; --color-dark: #bea956; }
.paidEnough         { --color-light: #fdfd29; --color-dark: #e4e400; }

tr.unread, .grid-row.unread {
    font-weight: bold;
}

tr.specialRate, .grid-row.specialRate {
    font-style: italic;
}

/***** Stay colors *****/
.workingVisitStay   { --stay-color: #E4399E; }
.discoveryStay      { --stay-color: #FF9A40; }
.guestStay          { --stay-color: #200772; }
.standardStay       { --stay-color: #9276EB; }

/***** Booking options colors *****/

.share_mate { --color-light: #fef087; --color-dark: #e6d768 }
.wrongAllocation { --color-base: #FF4400; }

/* JavaFX declaration for backoffice_released and frontoffice_release (not converted to html5 css for now)
.backoffice_released { --color-base: #E0CDCD;}
.frontoffice_released { --color-base: #E0CDCD;}

.backoffice_released {
    -fx-background-color:   -fx-table-cell-border-color,
                            linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
                            linear-gradient(from 0px 5px to 5px 0px, reflect, transparent, transparent 85%, #808080);
}

.frontoffice_released {
    -fx-background-color:   -fx-table-cell-border-color,
                            linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
                            linear-gradient(from 0px 5px to 5px 0px, reflect, transparent, transparent 85%, #808080),
                            linear-gradient(from 0px 0px to 5px 5px, reflect, transparent, transparent 85%, #808080);
}
*/

/* Just applying the same as cancelled for now */
.backoffice_released, .frontoffice_released { --color-light: #e3a9d3; --color-dark: #ca90b9; }

tr.share_owner, .grid-row.share_owner {
    font-style: italic;
}


/***** Payments colors *****/
.pending            { --color-light: #FAE7E7; --color-dark: #C7B4B4; }
.successful         { --color-light: #d4fe19; --color-dark: #bbe600; }
.failed             { --color-light: #FF9A9A; --color-dark: #E66767; }
.batch              { --color-light: #FFF78D; --color-dark: #E6C45A; }

tr.child, .grid-row.child {
    color: blue;
    font-style: italic;
}

/***** Organizations colors *****/
.kmc                { --color-light: #F9C5FF; --color-dark: #C692E3; }
.kbc                { --color-light: #FFFFB0; --color-dark: #E4E57D; }
.branch             { --color-light: #E8FFFF; --color-dark: #B5DEE6; }
.closed             { --color-light: #E0CDCD; --color-dark: #E0CDCD; }

tr.kmc, .grid-row.kmc {
    font-weight: bold;
}

tr.branch, .grid-row.branch {
    font-style: italic;
}

/**** Applying styles to data table and grid ****/

tr, .grid-row {
    background: linear-gradient(  90deg, var(--stay-color) 0%, var(--stay-color) 40%, transparent 50%, transparent 100%),
    linear-gradient( 180deg, var(--color-light), var(--color-dark) 100%);
}

tr.selected, .grid-row.selected {
    background: repeating-linear-gradient(155deg, var(--selection-color), transparent 5px, transparent 10px, var(--selection-color) 15px, var(--selection-color) 20px),
    linear-gradient(  90deg, var(--stay-color) 0%, var(--stay-color) 40%, transparent 50%, transparent 100%),
    linear-gradient( 180deg, var(--color-light), var(--color-dark) 100%);
}
/*===== modality-login-web@main.css from modality-crm-client-activity-login-plugin =====*/

.login * {
    font-size: 18px; /* doesn't work yet (because of hardcoded style in app code) */
}

.login fx-button { /* doesn't work yet (because of hardcoded style in app code) */
    background: #0096D6FF;
    border: none;
    border-radius: 10px;
}

.login fx-button .text {
    color: white; /* doesn't work yet (because of hardcoded style in app code) */
    /*padding: 15px; JavaFX padding already applied in app code for now */
}

/* Montserrat password dots are tiny! So we use another font for passwords, but we don't want that font for the placeholder!
   So we apply that font only once the user started typing the password. This is done using :not([value=""]) CSS
   selector. Normally "value" refers to the initial value of the input only. However HtmlTextInputControlPeer keeps
   updating "value" to "" or "not-empty" whether the user has typed something, so this CSS rule finally works: */
input[type="password"]:not([value=""]) {
    font-family: "Password", serif;
    letter-spacing: 0.15em;
}

@font-face {
    font-family: "Password";
    src: url("./fonts/password/password.woff") format("woff");
    font-weight: 100 900;
}

/*===== modality-web@main.css from modality-base-client-application =====*/

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-VF.woff2") format("woff2");
    font-weight: 100 900;
}

/* Applying Montserrat as default font for Modality */
body * {
    font-family: Montserrat, serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}


/*===== material-web@main.css from webfx-extras-materialdesign =====*/


fx-textfield.material > fx-border {
    border: none;
}

fx-textfield.material > fx-background {
    background: none;
}
/*===== backoffice-home-web@main.css from modality-base-backoffice-activity-home-plugin =====*/


fx-homepane fx-tile * {
    font-size: 18px;
}

/*===== javafx-graphics-web@main.css from webfx-kit-javafxgraphics-emul =====*/

.disabled -fx-text {
    color: gray;
}