
/*===== webfx-kit-javafxgraphics-web@main.css from webfx-kit-javafxgraphics-peers-gwt-j2cl =====*/

/* Mocking some basic JavaFX behaviours */
body {
    overflow: hidden; /* Disabling browser horizontal and vertical scroll bars */
    margin: 0; /* Removing the default margin around the body */
    /* Disabling user selection by default */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Making disabled nodes semi-transparent */
.disabled {
    opacity: 50%;
}

/* Applying the default JavaFX behaviour for SVGPath */
fx-svgpath svg path:not([fill]):not([stroke]) { /* if the application code didn't set neither fill nor stroke */
    fill: black;  /* then the fill is black */
}

fx-svgpath svg path:not([fill])[stroke] { /* if the application code set the stroke but not the fill */
    fill: transparent; /* then the fill is transparent */
}
/*===== webfx-kit-javafxcontrols-web@main.css from webfx-kit-javafxcontrols-peers-gwt-j2cl =====*/

/***** Global variables *****/
:root {
    --fx-border-color: #c0c0c0;
    --fx-border-radius: 5px;
    --fx-border-style: solid;
    --fx-border-width: 1px;
    --fx-border-color-focus: #0096D6;
    --fx-textfield-background: white;
}

::placeholder {
    color: #888;
}

fx-button > fx-background {
    background: linear-gradient(180deg, white, #e0e0e0);
    border-radius: var(--fx-border-radius);
}

fx-button > fx-border, fx-textfield > fx-border, textarea {
    border-color: var(--fx-border-color);
    border-style: var(--fx-border-style);
    border-width: var(--fx-border-width);
    border-radius: var(--fx-border-radius);
}

fx-textfield:focus-within > fx-border, textarea:focus {
    border-color: var(--fx-border-color-focus);
    outline: none !important;
}

textarea {
    padding: 8px;
    box-sizing: border-box;
}

fx-hyperlink fx-text:hover {
    text-decoration: underline;
}

fx-textfield > fx-background {
    background: var(--fx-textfield-background);
    border-radius: var(--fx-border-radius);
}

/* Removing borders, outlines and background for input elements (to not interfere with the above) */
input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    background-color: transparent;
}

/* Cross for the tab close button */
.tab-close-button {
    background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23444' stroke-width='2' stroke-linejoin='round' viewBox=\'0 0 16 16\'%3E%3Cpath d=\'M 4,4 L 12,12 Z M 4,12 L 12,4 Z\'/%3E%3C/svg%3E");
}

/*===== webfx-kit-javafxweb-web@main.css from webfx-kit-javafxweb-peers-gwt-j2cl =====*/

iframe {
    border: none;
}

/*===== webfx-extras-material-web@main.css from webfx-extras-materialdesign =====*/


fx-textfield.material > fx-border {
    border: none;
}

fx-textfield.material > fx-background {
    background: none;
}
/*===== webfx-extras-switches-web@main.css from webfx-extras-switches =====*/

:root {
    --webfx-switch-unselected-background-color: lightgray;
    --webfx-switch-selected-background-color: #23EA00;
    --webfx-switch-knob-background-color: white;
}

fx-switch.webfx-switch > fx-background {
    background-color: var(--webfx-switch-unselected-background-color);
    border-radius: 10px;
    transition-duration: 200ms;
}

fx-switch.webfx-switch.selected > fx-background {
    background-color: var(--webfx-switch-selected-background-color);
    transition-duration: 200ms;
}

fx-switch.webfx-switch fx-circle.knob {
    background-color: var(--webfx-switch-knob-background-color);
}
/*===== webfx-extras-time-pickers-web@main.css from webfx-extras-time-pickers =====*/

:root {
    --webfx-time-pickers-blue1-color: #0096D6;
    --webfx-time-pickers-blue2-color: #afe7ff;
    --webfx-time-pickers-gray-color: #cccccc;

    --webfx-time-pickers-arrow-color: var(--webfx-time-pickers-blue1-color);
    --webfx-time-pickers-month-color: var(--webfx-time-pickers-blue1-color);
    --webfx-time-pickers-border-color: var(--webfx-time-pickers-gray-color);
    --webfx-time-pickers-date-background-color: var(--webfx-time-pickers-gray-color);
    --webfx-time-pickers-selected-date-background-color: var(--webfx-time-pickers-blue2-color);
}

.webfx-datepicker.border > fx-border {
    border-color: var(--webfx-time-pickers-border-color);
    border-style: solid;
    border-radius: 10px;
}

.webfx-datepicker .date-selected > fx-background {
    background-color: var(--webfx-time-pickers-selected-date-background-color);
    border-radius: 10px;
}

.webfx-datepicker .date-secondary > fx-background {
    background-color: var(--webfx-time-pickers-date-background-color);
    border-radius: 10px;
}

.webfx-datepicker .arrow svg path:not([fill]):not([stroke]) {
    fill: var(--webfx-time-pickers-arrow-color);
}

.webfx-datepicker .month {
    color: var(--webfx-time-pickers-month-color);
    font-size: 14px;
}
/*===== webfx-extras-filepicker-web@main.css from webfx-extras-filepicker-gwt-j2cl =====*/

/* We dont want any background or border for the FilePicker button */

.file-picker fx-button > fx-background {
    background: none;
}

.file-picker fx-button > fx-border {
    border: none;
}

/*===== webfx-extras-visual-grid-web@main.css from webfx-extras-visual-grid-peers-gwt-j2cl =====*/

:root {
    --webfx-visualgrid-border-color: #D3D3D3;
    --webfx-visualgrid-row-height: 28px;
    --webfx-visualgrid-selection-color: #AED6F1;
}

th, td {
    border: 1px solid var(--webfx-visualgrid-border-color);
    border-top-width: 0;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    cursor: pointer;
}

thead {
    border: none;
    height: var(--webfx-visualgrid-row-height);
    position: sticky;
    top: 1px;
    z-index: 2; /* header must be above body when scrolling */
}

thead th {
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: var(--webfx-visualgrid-border-color);
    height: var(--webfx-visualgrid-row-height);
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

tbody td {
    border-bottom-color: var(--webfx-visualgrid-border-color);
}

tbody tr {
    height: var(--webfx-visualgrid-row-height);
}

thead th, tbody td {
    padding: 0 5px 0 5px;
    max-width: 0;
    overflow: hidden;
}

th:before { /* this rule is to prevent body appearing in 1px line above header when scrolling */
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: -1px;
    border-top: 1px solid var(--webfx-visualgrid-border-color);
}


/***********************************
 *** Table header and row colors ***
 ***********************************/

/*** Table header gray gradient ***/

thead tr {
    background: linear-gradient( 180deg, white, lightgray 100%);
}

th, tbody, td {
    background-color: transparent;
}

.grid-head, .grid-body, .grid-col, .grid-row {
    overflow: hidden;
}

.grid-head, .grid-row {
    border-bottom: 1px solid var(--webfx-visualgrid-border-color);
}

.grid-col {
    border-right: 1px solid var(--webfx-visualgrid-border-color);
}

tr.selected, .grid-row.selected {
    background: var(--webfx-visualgrid-selection-color)
}

/*===== ckeditor-web@main.css from webfx-extras-webtext-peers-gwt-j2cl =====*/

/* Hiding the warning message from CKEditor 4.22.1 */
.cke_notifications_area {
    display: none;
}
/*===== modality-backoffice-home-web@main.css from modality-base-backoffice-activity-home-plugin =====*/


fx-homepane fx-tile * {
    font-size: 18px;
}

/*===== modality-client-web@main.css from modality-base-client-application =====*/

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat/Montserrat-VF.woff2") format("woff2");
    font-weight: 100 900;
}

/* Applying Montserrat as default font for Modality */
body, textarea /* because textarea has explicit default monospace font */ {
    font-family: Montserrat, serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}


/*===== modality-client-web@main.css from modality-base-client-css =====*/

:root {
    --webfx-switch-selected-background-color: #0096D6;
    --webfx-visualgrid-selection-color: #BBBBBB;
    --green-color: #41BA4D;
    --green-color-hover: #38a143;
    --blue-color: #0096D6;
    --blue-color-hover: #0082ba;
    --grey-color: #838788;
    --grey-color-hover: #717475;
    --red-color: red;
    --red-color-hover: #de0000;
    --orange-color: #EE7130;
}

.event-button {
    border-radius: 4px;
    height: 35px;
    max-height: 35px;
    text-align: center;
    font-weight: normal;
}

.event-button > fx-border {
    border: none;
}

.primary-button {
    color: white;
}

.primary-button > fx-background {
    background: var(--blue-color);
}

.primary-button.disabled > fx-background, .primary-button.disabled:hover > fx-background {
    background: var(--blue-color);
}

.primary-button:hover > fx-background {
    background: var(--blue-color-hover);
}

.danger-button {
  color: white;
}

.danger-button > fx-background {
    background: var(--red-color);
}

.danger-button:hover > fx-background {
    background: var(--red-color-hover);
}

.success-button {
    color: white;
}

.success-button > fx-background {
    background: var(--green-color);
}

.success-button:hover > fx-background   {
    background: var(--green-color-hover);
}

.secondary-button {
    color: white;
}

.secondary-button > fx-background {
    background: var(--grey-color);
}

.secondary-button:hover > fx-background {
    background: var(--grey-color-hover);
}

.secondary-text {
    color: var(--grey-color);
}

.warning-text {
    color: var(--orange-color);
}

.danger-text {
    color: var(--red-color);
}

.success-text {
    color: var(--green-color);
}

.title {
    font-size: 35px;
}

.subtitle {
    font-size: 22px;
}

.title3 {
    font-size: 16px;
}

.confirmation-title {
    font-size: 22px;
    color: var(--green-color);
    font-weight: bold;
}

.small-text {
    font-size: 9px;
}

/*===== modality-client-login-web@main.css from modality-crm-client-activity-login-plugin =====*/

.login * {
    font-size: 18px; /* doesn't work yet (because of hardcoded style in app code) */
}

.login fx-button { /* doesn't work yet (because of hardcoded style in app code) */
    background: #0096D6FF;
    border: none;
    border-radius: 10px;
}

.login fx-button .text {
    color: white; /* doesn't work yet (because of hardcoded style in app code) */
    /*padding: 15px; JavaFX padding already applied in app code for now */
}

/* Montserrat password dots are tiny! So we use another font for passwords, but we don't want that font for the placeholder!
   So we apply that font only once the user started typing the password. This is done using :not([value=""]) CSS
   selector. Normally "value" refers to the initial value of the input only. However HtmlTextInputControlPeer keeps
   updating "value" to "" or "not-empty" whether the user has typed something, so this CSS rule finally works: */
input[type="password"]:not([value=""]) {
    font-family: "Password", serif;
    letter-spacing: 0.15em;
}

@font-face {
    font-family: "Password";
    src: url("./fonts/password/password.woff") format("woff");
    font-weight: 100 900;
}

/*===== modality-backoffice-bookingdetailspanel-web@main.css from modality-crm-backoffice-bookingdetailspanel =====*/

fx-titledpane .title {
    font-size: 14px;
}

/*===== modality-backoffice-bookings-web@main.css from modality-ecommerce-backoffice-activity-bookings-plugin =====*/

/***** Declaring table row color variables with default values *****/
:root {
    --color-light: white;
    --color-dark: white;
    --stay-color: transparent;
    --selection-color: rgba(137, 169, 210, 0.5);
}

/***** Bookings colors *****/
.abandoned          { --color-light: #e3d2d2; --color-dark: #cab8b8; }
.absent             { --color-light: #ff8d8d; --color-dark: #e57373; }
.cancelled          { --color-light: #e3a9d3; --color-dark: #ca90b9; }
.arrived            { --color-light: #21f016; --color-dark: #0bd700; }
.arrivedWithBalance { --color-light: #17b6f0; --color-dark: #019ed7; }
.flagged            { --color-light: #ff941a; --color-dark: #e57a00; }
.changed            { --color-light: #b1b1ff; --color-dark: #9797e5; }
.passReady          { --color-light: #6bcfd2; --color-dark: #54b5b8; }
.confirmed          { --color-light: #b1b1ff; --color-dark: #9797e5; }
.paidInFull         { --color-light: #d5ff1a; --color-dark: #bbe500; }
.overPaid           { --color-light: #ffa366; --color-dark: #e58a4d; }
.noDeposit          { --color-light: #FFFFFF; --color-dark: #FFFFFF; }
.willPay            { --color-light: #e5e5e5; --color-dark: #cacaca; }
.paidUnderMinimal   { --color-light: #d7c26d; --color-dark: #bea956; }
.paidEnough         { --color-light: #fdfd29; --color-dark: #e4e400; }

tr.unread, .grid-row.unread {
    font-weight: bold;
}

tr.specialRate, .grid-row.specialRate {
    font-style: italic;
}

/***** Stay colors *****/
.workingVisitStay   { --stay-color: #E4399E; }
.discoveryStay      { --stay-color: #FF9A40; }
.guestStay          { --stay-color: #200772; }
.standardStay       { --stay-color: #9276EB; }

/***** Booking options colors *****/

.share_mate { --color-light: #fef087; --color-dark: #e6d768 }
.wrongAllocation { --color-base: #FF4400; }

/* JavaFX declaration for backoffice_released and frontoffice_release (not converted to html5 css for now)
.backoffice_released { --color-base: #E0CDCD;}
.frontoffice_released { --color-base: #E0CDCD;}

.backoffice_released {
    -fx-background-color:   -fx-table-cell-border-color,
                            linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
                            linear-gradient(from 0px 5px to 5px 0px, reflect, transparent, transparent 85%, #808080);
}

.frontoffice_released {
    -fx-background-color:   -fx-table-cell-border-color,
                            linear-gradient(from 0% 0% to 0% 100%, derive(-color-base, +10%) 0%, derive(-color-base, -10%) 100%),
                            linear-gradient(from 0px 5px to 5px 0px, reflect, transparent, transparent 85%, #808080),
                            linear-gradient(from 0px 0px to 5px 5px, reflect, transparent, transparent 85%, #808080);
}
*/

/* Just applying the same as cancelled for now */
.backoffice_released, .frontoffice_released { --color-light: #e3a9d3; --color-dark: #ca90b9; }

tr.share_owner, .grid-row.share_owner {
    font-style: italic;
}


/***** Payments colors *****/
.pending            { --color-light: #FAE7E7; --color-dark: #C7B4B4; }
.successful         { --color-light: #d4fe19; --color-dark: #bbe600; }
.failed             { --color-light: #FF9A9A; --color-dark: #E66767; }
.batch              { --color-light: #FFF78D; --color-dark: #E6C45A; }

tr.child, .grid-row.child {
    color: blue;
    font-style: italic;
}

/***** Organizations colors *****/
.kmc                { --color-light: #F9C5FF; --color-dark: #C692E3; }
.kbc                { --color-light: #FFFFB0; --color-dark: #E4E57D; }
.branch             { --color-light: #E8FFFF; --color-dark: #B5DEE6; }
.closed             { --color-light: #E0CDCD; --color-dark: #E0CDCD; }

tr.kmc, .grid-row.kmc {
    font-weight: bold;
}

tr.branch, .grid-row.branch {
    font-style: italic;
}

/**** Applying styles to data table and grid ****/

#bookings tbody tr, #bookings .grid-row {
    background: linear-gradient(  90deg, var(--stay-color) 0%, var(--stay-color) 40%, transparent 50%, transparent 100%),
    linear-gradient( 180deg, var(--color-light), var(--color-dark) 100%);
}

#bookings tbody tr.selected, #bookings .grid-row.selected {
    background: repeating-linear-gradient(155deg, var(--selection-color), transparent 5px, transparent 10px, var(--selection-color) 15px, var(--selection-color) 20px),
    linear-gradient(  90deg, var(--stay-color) 0%, var(--stay-color) 40%, transparent 50%, transparent 100%),
    linear-gradient( 180deg, var(--color-light), var(--color-dark) 100%);
}
/*===== modality-backoffice-recurringevents-web@main.css from modality-event-backoffice-activity-recurringevents-plugin =====*/

.booking-name {
    color: #838788;
}

.booking-status-confirmed {
    color: #41BA4D;
    font-size: 9px;
}

.booking-status-unconfirmed {
    color: #eb8634;
    font-size: 9px;
}

.booking-total-count {
    color: #FF0404;
    font-size: 9px;
}
