:root {
    --fx-event-description-text-color: #444;
}

.event-title {
    --fx-text-fill: white;
}

/* .text-justified */
.event-description-text {
    color: var(--fx-event-description-text-color);
    text-align: justify;
    line-height: 1.7em;
}

/* Date cells for recurring events */

.event-date-cell {
    --fx-border-style: solid;
    --fx-border-color: #cccccc;
    --fx-border-width: 1px;
}

.event-date-cell.date-unselected {
    --fx-text-fill: #444;
}

.event-date-cell .event-time {
    --fx-text-fill: #838788;
}

.event-date-cell.date-unselected {
    --fx-background-color: transparent;
}

.event-date-cell.date-non-selectable {
    --fx-background-color: #dddddd;
}

.event-date-cell.date-non-selectable {
    --fx-border-style: solid;
    --fx-border-color: #cccccc;
    --fx-border-width: 1px;
}

.event-date-cell.date-non-selectable,
.event-date-cell.date-non-selectable .event-time {
    --fx-text-fill: #aaaaaa;
}

.event-date-cell.date-selected,
.event-date-cell.date-already-booked {
    --fx-background-color: var(--brand-main-color);
    --fx-border-style: none;
}

.event-date-cell.date-selected,
.event-date-cell.date-selected .event-time {
    --fx-text-fill: white;
}

.event-date-cell.date-already-booked,
.event-date-cell.date-already-booked .event-time {
    --fx-text-fill: #eeeeee;
}


/* .subtitle-grey */
.subtitle-grey {
    --fx-text-fill: grey;
    font-size: 14px;
}

.line-total {
    --fx-background-color: #CCCCCC;
}

.line-total span {
    font-weight: bolder;
}