/* @font-face rules listed first, otherwise they are ignored (OpenJFX bug) */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url('webfx-css:fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('webfx-css:fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('webfx-css:fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    src: url('webfx-css:fonts/montserrat/Montserrat-BoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    src: url('webfx-css:fonts/poppins/Poppins-Bold.otf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    src: url('webfx-css:fonts/poppins/Poppins-Italic.otf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    font-style: italic;
    src: url('webfx-css:fonts/poppins/Poppins-BoldItalic.otf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('webfx-css:fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url('webfx-css:fonts/roboto/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: light;
    src: url('webfx-css:fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    src: url('webfx-css:fonts/roboto/Roboto-BoldItalic.ttf');
}



/*===== webfx-extras-bootstrap-javafx@main.css from webfx-extras-styles-bootstrap =====*/

/* Bootstrap style */
* {
    -bootstrap-white: #fff ;
    
    -bootstrap-grey1: #e6e6e6 ;
    -bootstrap-grey2: #d4d4d4 ;
    -bootstrap-grey3: #ccc ;
    -bootstrap-grey4: #adadad ;
    -bootstrap-grey5: #8c8c8c ;
    -bootstrap-grey6: #777777 ;
    -bootstrap-grey7: #333 ;

    -bootstrap-blue1: #5bc0de ;
    -bootstrap-blue2: #46b8da ;
    -bootstrap-blue3: #31b0d5 ;
    -bootstrap-blue4: #269abc ;
    -bootstrap-blue5: #337ab7 ;
    -bootstrap-blue6: #2e6da4 ;
    -bootstrap-blue7: #1b6d85 ;
    -bootstrap-blue8: #286090 ;
    -bootstrap-blue9: #204d74 ;
    -bootstrap-blue10: #122b40 ;
    -bootstrap-blue11: #31708f ;

    -bootstrap-green1: #5cb85c ;
    -bootstrap-green2: #4cae4c ;
    -bootstrap-green3: #449d44 ;
    -bootstrap-green4: #398439 ;
    -bootstrap-green5: #255625 ;
    -bootstrap-green6: #3c763d ;

    -bootstrap-orange1: #f0ad4e ;
    -bootstrap-orange2: #eea236 ;
    -bootstrap-orange3: #ec971f ;
    -bootstrap-orange4: #d58512 ;
    -bootstrap-orange5: #985f0d ;
    -bootstrap-orange6: #8a6d3b ;

    -bootstrap-red1: #d9534f ;
    -bootstrap-red2: #d43f3a ;
    -bootstrap-red3: #c9302c ;
    -bootstrap-red4: #ac2925 ;
    -bootstrap-red5: #761c19 ;
    -bootstrap-red6: #a94442 ;
}

/* Buttons */

.btn {
    -fx-font-weight: normal;
    -fx-text-alignment: center;
    -fx-cursor: default;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-insets: 0, 0, -1, 0;
    -fx-padding: 6px 12px 6px 12px;
    -fx-font-size: 14px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    /*-fx-min-width: 80px;*/
}

.btn:hover {
    -fx-text-fill: -bootstrap-grey7;
    -fx-fill: -bootstrap-grey7;
}

.btn-default {
    -fx-text-fill: -bootstrap-grey7;
    -fx-fill: -bootstrap-grey7;
    -fx-background-color: -bootstrap-white;
    -fx-border-color: -bootstrap-grey3;
}

.btn-default:hover {
    -fx-text-fill: -bootstrap-grey7;
    -fx-fill: -bootstrap-grey7;
    -fx-background-color: -bootstrap-grey1;
    -fx-border-color: -bootstrap-grey5;
}

.btn-primary {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-blue5;
    -fx-border-color: -bootstrap-blue6;
}

.btn-primary .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-primary .progress-indicator {
    -fx-accent: -bootstrap-white;
}

.btn-primary:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-blue8;
    -fx-border-color: -bootstrap-blue9;
}

.btn-secondary {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-grey4;
    -fx-border-color: -bootstrap-grey5;
}
.btn-secondary .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-secondary .progress-indicator {
    -fx-accent: -bootstrap-white;
}

.btn-secondary:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-grey5;
    -fx-border-color: -bootstrap-grey6;
}

.btn-success {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-green1;
    -fx-border-color: -bootstrap-green2;
}

.btn-success .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-success .progress-indicator {
    -fx-accent: -bootstrap-white;
}

.btn-success:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-green3;
    -fx-border-color: -bootstrap-green4;
}

.btn-info {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-blue1;
    -fx-border-color: -bootstrap-blue2;
}

.btn-info .progress-indicator {
    -fx-accent: -bootstrap-white;
}

.btn-info .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-info:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-blue3;
    -fx-border-color: -bootstrap-blue4; 
}

.btn-warning {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-orange1;
    -fx-border-color: -bootstrap-orange2;
}

.btn-warning .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-warning .progress-indicator {
    -fx-accent: -bootstrap-white;
}


.btn-warning:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-orange3;
    -fx-border-color: -bootstrap-orange4;
}


.btn-danger {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-red1;
    -fx-border-color: -bootstrap-red2;
}

.btn-danger .svg-path {
    -fx-fill: inherit;  /* Inherit the fill color from the parent (btn-primary) */
}

.btn-danger .progress-indicator {
    -fx-accent: -bootstrap-white;
}

.btn-danger:hover {
    -fx-text-fill: -bootstrap-white;
    -fx-fill: -bootstrap-white;
    -fx-background-color: -bootstrap-red3;
    -fx-border-color: -bootstrap-red4;
}

.btn-lg {
    -fx-padding: 10px 16px 10px 16px;
    -fx-font-size: 18px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.btn-sm {
    -fx-padding: 5px 10px 5px 10px;
    -fx-font-size: 12px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.btn-xs {
    -fx-padding: 1px 5px 1px 5px;
    -fx-font-size: 12px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.btn-block {
    width: 100%;
}

/* Text */

.b, .strong {
    -fx-font-weight: bold;
}

.i, .em, .italic, .dfn {
    -fx-font-style: italic;
}

.h1 {
    -fx-font-size: 2em;
}

.small {
    -fx-font-size: 80%;
}

.code, .kbd, .pre, .samp {
    -fx-font-family: 'monospace';
    -fx-font-size: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    -fx-text-fill: inherit;
    -fx-fill: inherit;
}

.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    -fx-font-weight: normal;
    -fx-text-fill: -bootstrap-grey6;
    -fx-fill: -bootstrap-grey6;
}

.h1 .small, .h2 .small, .h3 .small {
    -fx-font-size: 65%;
}

.h4 .small, .h5 .small, .h6 .small {
    -fx-font-size: 75%;
}

.h1 {
    -fx-font-size: 36px;
}

.h2 {
    -fx-font-size: 30px;
}

.h3 {
    -fx-font-size: 24px;
}

.h4 {
    -fx-font-size: 18px;
}

.h5 {
    -fx-font-size: 14px;
}

.h6 {
    -fx-font-size: 12px;
}

.lead {
    -fx-font-size: 16px;
    -fx-font-weight: 300;
}

.small {
    -fx-font-size: 85%;
}

.text-left {
    -fx-text-alignment: left;
}

.text-right {
    -fx-text-alignment: right;
}

.text-center {
    -fx-text-alignment: center;
}

.text-justify {
    -fx-text-alignment: justify;
}

.text-muted {
    -fx-text-fill: -bootstrap-grey6;
    -fx-fill: -bootstrap-grey6;
}

.text-primary {
    -fx-text-fill: -bootstrap-blue5;
    -fx-fill: -bootstrap-blue5;
}

.text-success {
    -fx-text-fill: -bootstrap-green6;
    -fx-fill: -bootstrap-green6;
}

.text-info {
    -fx-text-fill: -bootstrap-blue11;
    -fx-fill: -bootstrap-blue11;
}

.text-warning {
    -fx-text-fill: -bootstrap-orange6;
    -fx-fill: -bootstrap-orange6;
}

.text-danger {
    -fx-text-fill: -bootstrap-red6;
    -fx-fill: -bootstrap-red6;
}

/*===== webfx-extras-material-javafx@main.css from webfx-extras-styles-materialdesign =====*/


.material {
     -fx-background-color: white , white , white;
     -fx-background-insets: 0, 0, 0;
}

/*===== webfx-extras-visual-grid-javafx@main.css from webfx-extras-visual-grid-peers-openjfx =====*/

VisualGrid {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

* {
    -webfx-visualgrid-border-color: #D3D3D3;
    /*-webfx-visualgrid-row-height: 28px;*/
    -webfx-visualgrid-selection-color: #AED6F1;
}

.table-view {
    -fx-table-cell-border-color: #bbbbbb; /* same color as java 7 caspian, java 8 one is too light on colored rows */
    -fx-cursor: hand;
}

.table-view.noHeader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view.fullHeight *.scroll-bar:vertical {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}

.table-row-cell:empty {
    -fx-opacity: 0.0;
}

.table-row-cell .table-cell {
    -fx-padding: 1.4mm 1.4mm 0.6mm 1.4mm;
}

.table-row-cell .text, .column-header .text, .grid .text, .grid Text { /* texts displayed in tables */
   -fx-font-family: "Roboto"; /* embedded font to be sure it can correctly render bold and italic on all systems */
   -fx-font-size: 13.5px;
   -fx-font-smoothing-type: gray;
   -fx-fill: rgba(0, 0, 0, 0.7);
}

.grid .scroll-pane {
    -fx-padding: 0;
}

.grid-head, .grid-row {
    -fx-border-color: -webfx-visualgrid-border-color;
    -fx-border-width: 0 0 1px 0;
}

.grid-col {
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 1px 0 0;
}

.table-row-cell:selected {
    -fx-background: -webfx-visualgrid-selection-color;
}

.table-row-cell:selected .table-cell {
   -fx-text-fill: -fx-text-inner-color;
}

/*===== webfx-extras-webtext-javafx@main.css from webfx-extras-webtext-peers-openjfx =====*/

HtmlText, HtmlTextEditor {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

/*===== webfx-stack-authn-login-ui-portal-javafx@main.css from webfx-stack-authn-login-ui-portal =====*/

.login {
     -fx-background-image: url("webfx-css:/loginportal/images/login-background-image.png"); /* Specify the path to your image */
     -fx-background-repeat: no-repeat;               /* Prevents the image from repeating */
     -fx-background-size: cover;                     /* Scales the image to cover the area */
     -fx-background-position: center;
}

.login .background {
     -fx-background-image: none;
     -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 20px;
    -fx-border-color: lightgray;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, lightgray, 10, 0, 0, 0);
}

.login-child {
    -fx-min-width: 586px;
    -fx-max-width: 586px;
    -fx-min-height: 506px;
    -fx-max-height: 506px;
}

/*===== modality-client-javafx@main.css from modality-base-client-css =====*/

* {
    -webfx-switch-selected-background-color: #0096D6;
    -webfx-visualgrid-selection-color: #BBBBBB;
}

.event-button Button {
    -fx-background-radius: 4;
    -fx-pref-height:36px;
    -fx-max-height:36px;
    -fx-alignment: center;
 /*  -fx-font-family: "Google Sans", Roboto, Arial;*/
    -fx-font-weight: bolder;
}

/*===== modality-client-javafx@main.css from modality-base-client-application =====*/

Text, Label, Button, TextField {
    -fx-font-family: 'Montserrat';
}

.scroll-pane {
   -fx-background-color: transparent;
   -fx-padding: 0;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

/*===== modality-event-client-recurringevents-javafx@main.css from modality-event-client-recurringevents =====*/

* {
    -fx-event-description-text-color: #444;
}

.event-title, .event-title Text, .event-title SVGPath {
    -fx-text-fill: white;
    -fx-fill: white;
}

.event-description-text, .event-description-text Text {
    -fx-text-fill: -fx-event-description-text-color;
    -fx-fill: -fx-event-description-text-color;
    -fx-text-alignment: justify;
}

.event-description-text TextFlow {
    -fx-line-spacing: 12px;
}


.subtitle-grey {
   -fx-text-fill: grey;
   -fx-fill: grey;
   -fx-font-size: 14px;
}

/* Date cells for recurring events */

.event-date-cell {
    -fx-border-color: #cccccc;
}

.event-date-cell.date-unselected Text {
    -fx-fill: #444;
}

.event-date-cell Text.event-time {
    -fx-fill: #838788;
}

.event-date-cell.date-unselected {
    -fx-background-color: none;
}

.event-date-cell.date-non-selectable {
    -fx-border-color: #cccccc;
    -fx-background-color: #dddddd;
}

.event-date-cell.date-non-selectable Text,
.event-date-cell.date-non-selectable Text.event-time {
    -fx-fill: #aaaaaa;
}

.event-date-cell.date-selected,
.event-date-cell.date-already-booked {
    -fx-border-color: none;
    -fx-background-color: #F5761A;
}

.event-date-cell.date-selected Text {
    -fx-fill: white;
}

.event-date-cell.date-already-booked Text {
    -fx-fill: #eeeeee;
}


.line-total {
    -fx-background-color: #CCCCCC;
}

.line-total Text {
    -fx-font-weight: bolder;
}
/*===== modality-frontoffice-booking-javafx@main.css from modality-event-frontoffice-activity-booking-plugin =====*/

