* {
    -webfx-switch-selected-background-color: #0096D6;
    -green-color: #41BA4D;
    -green-color-hover: #38a143;
    -blue-color: #0096D6;
    -blue-color-hover: #0082ba;
    -grey-color: #838788;
    -grey-color-hover: #717475;
    -red-color: red;
    -red-color-hover: #de0000;
    -orange-color: #EE7130;
}

.event-button
{
    -fx-background-radius: 4;
    -fx-pref-height:35px;
    -fx-max-height:35px;
    -fx-alignment: center;
 /*  -fx-font-family: "Google Sans", Roboto, Arial;*/
    -fx-font-weight: bolder;
}

.primary-button {
    -fx-background-color: -blue-color;
    -fx-text-fill: white;
}
.primary-button:hover {
    -fx-background-color: -blue-color-hover;
}

.danger-button {
    -fx-background-color: -red-color;
    -fx-text-fill: white;
}
.danger-button:hover {
    -fx-background-color: -red-color-hover;
}

.success-button {
    -fx-background-color: -green-color;
    -fx-text-fill: white;
}

.success-button:hover {
  -fx-background-color: -green-color-hover;
}

.secondary-button {
    -fx-background-color: -grey-color;
    -fx-text-fill: white;
}

.secondary-button:hover {
    -fx-background-color: -grey-color-hover;
}

.primary-text, .primary-text SVGPath{
    -fx-text-fill: -blue-color;
    -fx-fill: -blue-color;
}

.secondary-text, .secondary-text SVGPath {
    -fx-text-fill: -grey-color;
    -fx-fill: -grey-color;
}

.warning-text, .warning-text SVGPath {
    -fx-text-fill: -orange-color;
    -fx-fill: -orange-color;
}

.danger-text, .danger-text SVGPath {
    -fx-text-fill: -red-color;
    -fx-fill: -red-color;
}

.success-text, .success-text SVGPath {
    -fx-text-fill: -green-color;
    -fx-fill: -green-color;
}

.emphasize {
    -fx-font-weight: bolder;
}

.title
{
  -fx-font-size: 35px;
}
.subtitle
{
  -fx-font-size: 22px;
}

.title3
{
  -fx-font-size: 16px;
}

.title4
{
  -fx-font-size: 14px;
}

.confirmation-title {
   -fx-font-size: 22px;
   -fx-text-fill: -green-color;
   -fx-fill: -green-color;
   -fx-font-weight: bolder;
}


.small-text
{
  -fx-font-size: 9px;
}

.table-row-cell:selected .font-blue
{

}

.table-row-cell:selected {
  -fx-background: #BBBBBB;
}


.webfx-dates-picker-selected {
    -fx-background-color: #afe7ff;
    -fx-background-radius: 10px;
}

.webfx-dates-picker-secondary {
    -fx-background-color: #cccccc;
    -fx-background-radius: 10px;
}

.webfx-dates-picker-arrow {
    -fx-fill: -blue-color;
    -fx-background-radius: 10px;
}

.webfx-dates-picker-month {
    -fx-text-fill: -blue-color;
    -fx-font-size: 14px;
}
