:root {
    --montserrat-font-family: "Montserrat";
    --roboto-font-family: "Roboto";
    --poppins-font-family: "Poppins";
    --vollkorn-font-family: "Vollkorn SC";

    /* Overriding some WebFX Extras CSS variables  */
    --webfx-switch-selected-background-color: var(--brand-main-background-color);
    --webfx-visualgrid-selection-color: #BBBBBB;
}

/* Applying Montserrat as default font for Modality */
body, textarea /* because textarea has explicit default monospace font */ {
    font-family: var(--montserrat-font-family), serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

/* Not sure if it's the right place for this CSS rules */
.event-button {
    height: 35px;
    max-height: 35px;
    text-align: center;
    font-weight: normal;
    --fx-border-style: none;
    --fx-border-radius: 4px;
}
