:root {
    --webfx-switch-selected-background-color: #0096D6;
    --webfx-visualgrid-selection-color: #BBBBBB;
}

.event-button {
    border-radius: 4px;
    height: 35px;
    max-height: 35px;
    text-align: center;
    font-weight: normal;
}

.event-button > fx-border {
    border: none;
}
