:root {
    --montserrat-font-family: "Montserrat";
    --roboto-font-family: "Roboto";
    --poppins-font-family: "Poppins";
    --vollkorn-font-family: "Vollkorn SC";

    /* Overriding some WebFX Extras CSS variables  */
    --webfx-switch-selected-background-color: var(--brand-main-background-color);
    --webfx-visualgrid-selection-color: #BBBBBB;

    /* Modern Tab Design */
    --fx-tabheaderarea-background-color: transparent;
    --fx-tabheaderarea-padding-top: 0;
    --fx-tabheaderarea-padding-left: 0;
    --fx-tabheader-background-color: transparent;
    --fx-tabheader-background-color-selected: transparent;
    --fx-tabheader-border-width: 0px;
    --fx-tabheader-border-width-selected: 0 0 3px 0;
    --fx-tabheader-border-color: #00b8d4;
    --fx-tabheader-padding-top: 15px;
    --fx-tabheader-padding-right: 20px;
    --fx-tabheader-padding-bottom: 15px;
    --fx-tabheader-padding-left: 20px;
    --fx-tabheader-text-fill: #666;
    --fx-tabheader-text-fill-selected: #00b8d4;
}

fx-tabpane {
    --fx-background-color: white;
    --fx-border-width: 1px;
    --fx-border-style: solid;
    --fx-border-color: #ddd;
    --fx-border-radius: 8px;
    --fx-background-radius: 8px;
    --fx-border-color-focus: var(--fx-border-color);
    --fx-border-style-focus: var(--fx-border-style);
}

fx-tabheaderskin {
    font-size: 14px;
}

/* Applying Montserrat as default font for Modality */
body, textarea /* because textarea has explicit default monospace font */ {
    font-family: var(--montserrat-font-family), serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

/* Not sure if it's the right place for this CSS rules */
.event-button {
    height: 35px;
    max-height: 35px;
    text-align: center;
    font-weight: normal;
    --fx-border-style: none;
    --fx-border-radius: 4px;
}
