* {
    -webfx-switch-selected-background-color: #0096D6;
    -webfx-visualgrid-selection-color: #BBBBBB;
}

.event-button Button {
    -fx-background-radius: 4;
    -fx-pref-height:36px;
    -fx-max-height:36px;
    -fx-alignment: center;
 /*  -fx-font-family: "Google Sans", Roboto, Arial;*/
    -fx-font-weight: bolder;
}
