CollapsePane.menu-bar.non-mobile {
    -fx-background-color: white;
    -fx-border-width: 0 0 1px 0 ;
    -fx-border-color: lightgray;
}

.menu-bar {
    -fx-font-family: "Poppins";
}

.menu-bar Button {
    -fx-background-color: white; /* removes old-style button gradient */
}

.main-menu-bar Button {
    -fx-text-fill: black;
}

.user-menu-bar Label, .user-menu-bar Button {
    -fx-font-size: 12px;
    -fx-text-fill: #838788;
}

.main-menu-bar Label.brand {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #0096D6;
}

.main-menu-bar Label.brand SVGPath {
    -fx-fill: #0096D6;
}
