fx-collapsepane.menu-bar > fx-background {
    background-color: white;
}

fx-collapsepane.menu-bar > fx-border {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-radius: 0;
}

.menu-bar {
    font-family: "Poppins", sans-serif;
}

.menu-bar fx-button {
    --fx-button-background: white; /* removes old-style button gradient */
}

.menu-bar fx-button > fx-border {
    border: none;
}

.main-menu-bar fx-button {
    color: black;
}

.main-menu-bar fx-label.brand {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #0096D6;
    white-space: pre-line;
    line-height: 1.2;
}

.user-menu-bar fx-label, .user-menu-bar fx-button {
    font-size: 12px;
    color: #838788;
    --fx-svg-path-fill: #838788
}