.main-frame {
    --fx-background-color: white;
}

.main-frame.keyboard-navigation-off .menu-bar {
    --fx-border-style-focus: none;
}

.main-frame.keyboard-navigation-off .lang-menu-bar {
    --fx-border-style-focus: solid;
}

.main-frame.keyboard-navigation-on .menu-bar {
    --fx-border-style-focus: dashed;
}

.menu-bar {
    font-family: var(--poppins-font-family), sans-serif;
    --fx-button-background-color: transparent;
    --fx-border-style: none;
    --fx-text-fill: black;
    --fx-button-border-style: none;
    --webfx-aria-toggle-button-background-color-hover: transparent;
    --webfx-aria-toggle-button-background-color-fired: transparent;
    --webfx-aria-toggle-button-background-color-focused: transparent;
    --webfx-aria-toggle-button-text-fill-fired: var(--fx-focus-color);
}

.menu-bar fx-togglebutton.aria-toggle.fired {
    font-weight: bold;
}

.menu-bar fx-togglebutton.aria-toggle.fired fx-svgpath svg path[fill] {
    fill: var(--fx-text-fill);
}

.menu-bar fx-togglebutton.aria-toggle.fired fx-svgpath svg path[stroke] {
    stroke: var(--fx-text-fill);
}

.lang-menu-bar {
    --fx-button-border-color: #0096D6;
    --fx-button-border-style: solid;
    --fx-button-border-radius: 0;
    --fx-button-border-width: 1px 1px 1px 0;
    --fx-button-background-radius: 0;
    --fx-togglebutton-border-color-hover: var(--fx-button-border-color);
    --webfx-aria-toggle-button-background-color-focused: #F0F0F0;
    --webfx-aria-toggle-button-background-color-fired: #0096D6;
    --webfx-aria-toggle-button-text-fill-fired: white;
}

.lang-menu-bar .first-child {
    --fx-button-border-width: 1px;
    --fx-button-border-radius: 10px 0px 0px 10px;
    --fx-button-background-radius: 10px 0px 0px 10px;
}

.lang-menu-bar .last-child {
    --fx-border-radius:  0px 10px 10px 0px;
    --fx-background-radius:  0px 10px 10px 0px;
}

.main-frame fx-label.brand {
    font-size: 14px;
    font-weight: 500;
    --fx-text-fill: var(--brand-blue-color);
}

.user-frame fx-label, .user-menu-bar fx-button {
    font-size: 12px;
    --fx-text-fill: #838788;
}

.modality-dialog-area {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.menu-bar {
    --fx-background-color: white;
    --fx-border-style: solid;
    --fx-border-color: lightgray;
    --fx-border-width: 0 0 1px 0;
    --fx-border-radius: 0;
}

.menu-bar.lang-menu-bar {
    --fx-border-style: none;
}