fx-collapsepane.menu-bar {
    --fx-background-color: white;
    --fx-border-style: solid;
    --fx-border-color: lightgray;
    --fx-border-width: 0 0 1px 0;
    --fx-border-radius: 0;
}

fx-collapsepane.menu-bar.lang-menu-bar {
    --fx-border-style: none;
}

.menu-bar {
    font-family: var(--montserrat-font-family), sans-serif;
    /* removes old-style button gradient */
    --fx-button-background-image: none;
    --fx-button-background-color: white;
    --fx-text-fill: black;
}

.lang-menu-bar .selected {
    --fx-text-fill: white;
}

.menu-bar fx-button {
    --fx-border-style: none;
}

.main-menu-bar fx-label.brand {
    font-size: 16px;
    font-weight: bold;
    --fx-text-fill: var(--brand-blue-color);
}

.user-menu-bar fx-label, .user-menu-bar fx-button {
    font-size: 12px;
    --fx-text-fill: #838788;
}

.modality-dialog-area .gold-layout {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
