fx-collapsepane.menu-bar {
    --fx-background: white;
    --fx-border: 1px solid lightgray;
    --fx-border-radius: 0;
}

fx-collapsepane.menu-bar > fx-border {
    border-width: 0 0 1px 0;
}

fx-collapsepane.menu-bar.lang-menu-bar {
    --fx-border: none;
}

.menu-bar {
    font-family: var(--montserrat-font-family), sans-serif;
    --fx-button-background: white; /* removes old-style button gradient */
    --fx-text-fill: black;
}

.lang-menu-bar .selected {
    --fx-text-fill: white;
}

.menu-bar fx-button {
    --fx-border: none;
}

.main-menu-bar fx-label.brand {
    font-size: 16px;
    font-weight: bold;
    --fx-text-fill: var(--brand-blue-color);
}

.user-menu-bar fx-label, .user-menu-bar fx-button {
    font-size: 12px;
    --fx-text-fill: #838788;
}

.modality-dialog-area .gold-layout {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
