.recurringEventButton
{
    -fx-background-radius: 2;
    -fx-pref-height:30px;
    -fx-max-height:30px;
    -fx-pref-width: 150px;
    -fx-font-weight: bolder;
}
#newEvent {
    -fx-background-color: #41BA4D;
    -fx-text-fill: white;

}

#discard {
    -fx-background-color: #838788;
     -fx-text-fill: white;
}

#saveDraft {
    -fx-background-color: #0096D6;
    -fx-text-fill: white;
}

#updateEvent {
    -fx-background-color: #41BA4D;
    -fx-text-fill: white;
}