:root {
    --webfx-switch-selected-background-color: #0096D6;
    --green-color: #41BA4D;
    --green-color-hover: #38a143;
    --blue-color: #0096D6;
    --blue-color-hover: #0082ba;
    --grey-color: #838788;
    --grey-color-hover: #717475;
    --red-color: red;
    --red-color-hover: #de0000;
    --orange-color: #EE7130;
}

.event-button {
    border-radius: 4px;
    height: 35px;
    max-height: 35px;
    text-align: center;
    font-weight: normal;
}

.event-button > fx-border {
    border: none;
}

.primary-button {
    color: white;
}
.primary-button > fx-background {
    background: var(--blue-color);
}

.primary-button.disabled > fx-background, .primary-button.disabled:hover > fx-background {
    background: var(--blue-color);
}

.primary-button:hover > fx-background {
    background: var(--blue-color-hover);
}

.danger-button {
  color: white;
}

.danger-button > fx-background {
    background: var(--red-color);
}
.danger-button:hover > fx-background {
    background: var(--red-color-hover);
}

.success-button {
    color: white;
}
.success-button > fx-background {
    background: var(--green-color);
}
.success-button:hover > fx-background   {
    background: var(--green-color-hover);
}

.secondary-button {
    color: white;
}
.secondary-button > fx-background {
    background: var(--grey-color);
}
.secondary-button:hover > fx-background {
    background: var(--grey-color-hover);
}

.secondary-text {
    color: var(--grey-color);
}

.warning-text {
    color: var(--orange-color);
}

.danger-text {
    color: var(--red-color);
}

.success-text {
    color: var(--green-color);
}

.title {
    font-size: 35px;
}

.subtitle {
    font-size: 22px;
}

.title3 {
    font-size: 16px;
}

.confirmation-title {
    font-size: 22px;
    color: var(--green-color);
    font-weight: bold;
}

.small-text {
    font-size: 9px;
}

.table-row-cell:selected .font-blue {

}

.table-row-cell:selected > fx-background {
    background: #BBBBBB;
}

.booking-name {
    color: #838788;
}

.booking-status-confirmed {
    color: #41BA4D;
    font-size: 9px;
}

.booking-status-unconfirmed {
    color: #eb8634;
    font-size: 9px;
}

.booking-total-count {
    color: #FF0404;
    font-size: 9px;
}

.webfx-dates-picker-selected > fx-background {
    background-color: #afe7ff;
    border-radius: 10px;
}

.webfx-dates-picker-secondary > fx-background {
    background-color: #cccccc;
    border-radius: 10px;
}

.webfx-dates-picker-arrow {
    fill: var(--blue-color);
    border-radius: 10px;
}

.webfx-dates-picker-month {
    color: var(--blue-color);
    font-size: 14px;
}