.recurringEventButton {
    border-radius: 2px;
    height: 30px;
    max-height: 30px;
    width: 150px;
    font-weight: bold;
}

.font-size-35px {
    font-size: 35px;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-9px {
    font-size: 9px;
}

.font-white {
    color: white;
}

.font-green {
    color: #41BA4D;
}

.font-blue {
    color: #0096D6;
}

.font-orange {
    color: orange;
}

.font-red {
    color: red;
}

.font-grey {
    color: grey;
}

.bookingName {
    color: #838788;
}

.bold {
    font-weight: bold;
}

.bookingStatusConfirmed {
    color: #41BA4D;
}

.bookingStatusUnconfirmed {
    color: #eb8634;
}

.bookingTotalCount {
    color: #FF0404;
}

.background-green > fx-background {
    background: #41BA4D;
}

.background-blue > fx-background {
    background: #0096D6;
}

.background-darkGrey > fx-background {
    background: #838788;
}


.disabled {
    opacity: 0.3;
}

.disabled fx-text {
    color: white;
}